{{ header }}
<div id="checkout-cart" class="main-page page-basket">
  <nav aria-label="breadcrumb" class="container block-breadcrumb">
    <ol class="breadcrumb container">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>

  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <section class="section-cart">
    <div id="content" class="container">{{ content_top }}
      <h1  class="title-section">{{ heading_title }}</h1>
        <div class="block-wrapper-card">
          <ul class="list-card-product">
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
            <li class="item-card-product item-card-product-grid">
              <span class="block-title-product">{{ your_order }}</span>
              <span class="price">{{ tab_prod_price }}</span>
              <span class="block-add-product">{{ text_count }}</span>
            </li>
            {% for product in products %}
            <li class="item-card-product item-card-product-grid">
              <div class="block-title-product">
                <span class="title-product fw-500"
                <a href="{{ product.href }}">{{ product.name }}</a></span> <span class="article">{{ text_sku }}: {{ product.sku }}</span></div>
              <div class="wrapper-icon-close">
                <span class="icon-close-card" onclick="cart.remove('{{ product.cart_id }}');"></span>
              </div>
              <a href="#" class="block-img"><img src="{{ product.thumb }}" alt="{{ product.name }}" class="img"></a>
              <div class="label-product sale">
                {% if product.procent != false %}
                <span class="icon-percent">-{{ product.procent }}%</span>
                {% endif %}
              </div>
              <div class="price">
                <span class="price-product fw-700" id="span_total{{ product.product_id }}">{{ product.total }}</span>
                <span class="quantity-price">
                  <span class="quantity" id="span-quantity{{ product.product_id }}">{{ product.quantity }}</span>X <span class="item-price">{{ product.price }}</span></span>
              </div>
              <div class="block-add-product">
                <div class="add-product" data-key="{{ product.cart_id }}"><span class="minus"
                  data-prdctid="{{ product.product_id }}"
                  data-unit_price="{{ product.unit_price }}"
                  data-discount="{{ product.discount }}"
                  data-special="{{ product.special }}">-</span>
                  <input name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" id="quantity-{{ product.product_id }}"><span class="plus"
                                  data-prdctid="{{ product.product_id }}"
                                  data-unit_price="{{ product.unit_price }}"
                                  data-discount="{{ product.discount }}"
                                  data-special="{{ product.special }}">+</span></div>
              </div>
            </li>
            {% endfor %}
            </form>
          </ul>

          <div class="total">
            <div class="block-total">
              <div class="block-number">
                <span>{{ general_summ }}</span> <span class="line-dotted"></span>
                <span class="number" id="full-summ">{{ total_unit }}грн.</span>
              </div>
              <div class="block-sale">
                <span class="">{{ text_discount }}</span> <span class="line-dotted"></span>
                <span class="number" id="main-discount">{{ discount }}грн.</span>
              </div><span class="total-sum">
                <span>{{ text_total_summ }}:</span><span class="sum fw-700" id="main-total">{{ totals[0].text }}<span></span></span>
              </span>
              <a href="{{ checkout }}" style="text-decoration:none;"><button class="btn-custom-project">{{ text_to_order }}</button></a>
              <button class="btn-custom-project-2">{{ buy_in_1_click }}</button>
            </div>
          </div>
        </div>


      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
        <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>
      </div>
      {{ content_bottom }}
    </div>
  </section>

</div>
<script>
$('.plus').on('click', function(e) {
  var elem = $(this);
  var div_add = elem.closest(".add-product");
  var id_cart = div_add.attr('data-key');
  var product_id = $(this).attr('data-prdctid');
  var unit_price = $(this).attr('data-unit_price');
  var quantity = $('#quantity-'+product_id).val();
  quantity = parseInt(quantity, 10) + 1;
  var main_count = $('#cart_quantity').text();
  $('#cart_quantity').text(parseInt(main_count) + 1);
  one_update(id_cart, quantity);
  var special_price = $(this).attr('data-special');
  var main_total = $('#main-total').text();
  var current_txt = main_total.replace(/[0-9]|\,+/g, '');
  main_total = main_total.replace(/\D/g,'');
  var full_summ = $('#full-summ').text();
  full_summ = full_summ.replace(/\D/g,'');
  $('#full-summ').text((parseInt(full_summ) + parseInt(unit_price)) + current_txt);
  var total = 0;
  if(special_price != ''){
    total = parseInt(special_price) * quantity;
    $('#span_total'+product_id).text(total);
    main_total = parseInt(main_total) + parseInt(special_price);
    $('#main-total').text(main_total+current_txt);
    var discount_sum = $('#main-discount').text();
    discount_sum = discount_sum.replace(/\D/g,'');
    var discount_item = $(this).attr('data-discount');
    discount_sum = parseInt(discount_sum) + parseInt(discount_item);
    $('#main-discount').text(discount_sum+current_txt);
  } else {
    main_total = parseInt(main_total) + parseInt(unit_price);
    total = parseInt(unit_price) * quantity;
    $('#span_total'+product_id).text(total);
    $('#main-total').text(main_total+current_txt);
  }
  $('#quantity-'+product_id).val(quantity);
  $('#span-quantity'+product_id).text(quantity);
 });
 $('.minus').on('click', function(e) {
   var elem = $(this);
   var product_id = elem.attr('data-prdctid');
   var unit_price = elem.attr('data-unit_price');
   var quantity = $('#quantity-'+product_id).val();
   quantity = parseInt(quantity, 10) - 1;
   var div_add = elem.closest(".add-product");
   var id_cart = div_add.attr('data-key');
   var main_count = $('#cart_quantity').text();
   $('#cart_quantity').text(parseInt(main_count) - 1);
   if(quantity == 0){
     cart.remove(id_cart);
     return false;
   }
   one_update(id_cart, quantity);
   var special_price = elem.attr('data-special');
   var main_total = $('#main-total').text();
   var current_txt = main_total.replace(/[0-9]|\,+/g, '');
   main_total = main_total.replace(/\D/g,'');
   var full_summ = $('#full-summ').text();
   full_summ = full_summ.replace(/\D/g,'');
   $('#full-summ').text((parseInt(full_summ) - parseInt(unit_price)) + current_txt);
   var total = 0;
   if(special_price != ''){
     total = parseInt(special_price) * quantity;
     $('#span_total'+product_id).text(total);
     main_total = parseInt(main_total) - parseInt(special_price);
     $('#main-total').text(main_total+current_txt);
     var discount_sum = $('#main-discount').text();
     discount_sum = discount_sum.replace(/\D/g,'');
     var discount_item = $(this).attr('data-discount');
     discount_sum = parseInt(discount_sum) - parseInt(discount_item);
     $('#main-discount').text(discount_sum+current_txt);
   } else {
     main_total = parseInt(main_total) + parseInt(unit_price);
     total = parseInt(unit_price) * quantity;
     $('#span_total'+product_id).text(total);
     $('#main-total').text(main_total+current_txt);
   }
   $('#quantity-'+product_id).val(quantity);
   $('#span-quantity'+product_id).text(quantity);
  });

  function  one_update(key, quantity) {
		$.ajax({
			url: 'index.php?route=checkout/cart/one_update',
			type: 'post',
			data: 'key=' + key + '&quantity=' + (typeof(quantity) != 'undefined' ? quantity : 1),
			success: function(json) {
        console.log(json);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
</script>
{{ footer }}
