{{ header }}
<div id="checkout-cart" class="main-page page-basket">
  <nav aria-label="breadcrumb" class="container block-breadcrumb">
    <ol class="breadcrumb container">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>

  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <section class="section-cart">
    <div id="content" class="container">{{ content_top }}
      <h1  class="title-section">{{ heading_title }}</h1>
        <div class="block-wrapper-card">
          <ul class="list-card-product">
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
            <li class="item-card-product item-card-product-grid">
              <span class="block-title-product">Ваше замовлення</span>
              <span class="price">Ціна</span>
              <span class="block-add-product">Кількість</span>
            </li>
            {% for product in products %}
            <li class="item-card-product item-card-product-grid">
              <div class="block-title-product">
                <span class="title-product fw-500"
                <a href="{{ product.href }}">{{ product.name }}</a></span> <span class="article">Артікул: {{ product.sku }}</span></div>
              <div class="wrapper-icon-close"><span class="icon-close-card"></span></div>
              <a href="#" class="block-img"><img src="{{ product.thumb }}" alt="{{ product.name }}" class="img"></a>
              <div class="label-product sale"></div>
              <div class="price">
                <span class="price-product fw-700" id="span_total{{ product.product_id }}">{{ product.total }}</span>
                <span class="quantity-price">
                  <span class="quantity" id="span-quantity{{ product.product_id }}">{{ product.quantity }}</span>X <span class="item-price">{{ product.price }}</span></span>
              </div>
              <div class="block-add-product">
                <div class="add-product"><span class="minus"
                  data-prdctid="{{ product.product_id }}"
                  data-unit_price="{{ product.unit_price }}"
                  data-discount="{{ product.discount }}"
                  data-special="{{ product.special }}">-</span>
                  <input name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" id="quantity-{{ product.product_id }}"><span class="plus"
                                  data-prdctid="{{ product.product_id }}"
                                  data-unit_price="{{ product.unit_price }}"
                                  data-discount="{{ product.discount }}"
                                  data-special="{{ product.special }}">+</span></div>
              </div>
            </li>
            {% endfor %}
            </form>
          </ul>
          <!-- <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-left">{{ column_quantity }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-right">{{ column_total }}</td>
              </tr>
            </thead>
            <tbody>

            {% for product in products %}
            <tr>
              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                {% if product.option %}
                {% for option in product.option %} <br />
                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                {% endif %}
                {% if product.reward %} <br />
                <small>{{ product.reward }}</small> {% endif %}
                {% if product.recurring %} <br />
                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
                  <span class="input-group-btn">
                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
            </tr>
            {% endfor %}
            {% for voucher in vouchers %}
            <tr>
              <td></td>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
            </tr>
            {% endfor %}
              </tbody>

          </table> -->
          <div class="total">
            <div class="block-total">
              <div class="block-number">
                <span>Загалом</span> <span class="line-dotted"></span>
                <span class="number" id="full-summ">{{ total_unit }}грн.</span>
              </div>
              <div class="block-sale">
                <span class="">Скидка</span> <span class="line-dotted"></span>
                <span class="number" id="main-discount">{{ discount }}грн.</span>
              </div><span class="total-sum">
                <span>Загальна сума:</span><span class="sum fw-700" id="main-total">{{ totals[0].text }}<span></span></span>
              </span>
              <a href="{{ checkout }}" style="text-decoration:none;"><button class="btn-custom-project">Оформити замовлення</button></a>
              <button class="btn-custom-project-2">Купити в 1 клік</button>
            </div>
          </div>
        </div>


      <!-- <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <table class="table table-bordered">
            {% for total in totals %}
            <tr>
              <td class="text-right"><strong>{{ total.title }}:</strong></td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>

        </div>
      </div> -->

      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
        <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>
      </div>
      {{ content_bottom }}
    </div>
  </section>

</div>
<script>
$('.plus').on('click', function(e) {
  var product_id = $(this).attr('data-prdctid');
  var unit_price = $(this).attr('data-unit_price');
  var quantity = $('#quantity-'+product_id).val();
  quantity = parseInt(quantity, 10) + 1;
  var special_price = $(this).attr('data-special');
  var main_total = $('#main-total').text();
  var current_txt = main_total.replace(/[0-9]|\,+/g, '');
  main_total = main_total.replace(/\D/g,'');
  var full_summ = $('#full-summ').text();
  full_summ = full_summ.replace(/\D/g,'');
  $('#full-summ').text((parseInt(full_summ) + parseInt(unit_price)) + current_txt);
  var total = 0;
  if(special_price != ''){
    total = parseInt(special_price) * quantity;
    $('#span_total'+product_id).text(total);
    main_total = parseInt(main_total) + parseInt(special_price);
    $('#main-total').text(main_total+current_txt);
    var discount_sum = $('#main-discount').text();
    discount_sum = discount_sum.replace(/\D/g,'');
    var discount_item = $(this).attr('data-discount');
    discount_sum = parseInt(discount_sum) + parseInt(discount_item);
    $('#main-discount').text(discount_sum+current_txt);
  } else {
    main_total = parseInt(main_total) + parseInt(unit_price);
    total = parseInt(unit_price) * quantity;
    $('#span_total'+product_id).text(total);
    $('#main-total').text(main_total+current_txt);
  }
  $('#quantity-'+product_id).val(quantity);
  $('#span-quantity'+product_id).text(quantity);
 });
 $('.minus').on('click', function(e) {
   var product_id = $(this).attr('data-prdctid');
   var unit_price = $(this).attr('data-unit_price');
   var quantity = $('#quantity-'+product_id).val();
   quantity = parseInt(quantity, 10) - 1;
   var special_price = $(this).attr('data-special');
   var main_total = $('#main-total').text();
   var current_txt = main_total.replace(/[0-9]|\,+/g, '');
   main_total = main_total.replace(/\D/g,'');
   var full_summ = $('#full-summ').text();
   full_summ = full_summ.replace(/\D/g,'');
   $('#full-summ').text((parseInt(full_summ) - parseInt(unit_price)) + current_txt);
   var total = 0;
   if(special_price != ''){
     total = parseInt(special_price) * quantity;
     $('#span_total'+product_id).text(total);
     main_total = parseInt(main_total) - parseInt(special_price);
     $('#main-total').text(main_total+current_txt);
     var discount_sum = $('#main-discount').text();
     discount_sum = discount_sum.replace(/\D/g,'');
     var discount_item = $(this).attr('data-discount');
     discount_sum = parseInt(discount_sum) - parseInt(discount_item);
     $('#main-discount').text(discount_sum+current_txt);
   } else {
     main_total = parseInt(main_total) + parseInt(unit_price);
     total = parseInt(unit_price) * quantity;
     $('#span_total'+product_id).text(total);
     $('#main-total').text(main_total+current_txt);
   }
   $('#quantity-'+product_id).val(quantity);
   $('#span-quantity'+product_id).text(quantity);
  });
</script>
{{ footer }}
