{{ header }}
<div class="main-page page-ordering">
  <nav aria-label="breadcrumb" class="container block-breadcrumb">
    <ol class="breadcrumb container">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>
    <section class="section-cart">
      <div class="container">
        <h1 class="title-section">{{ heading_title }}</h1>
        <p class="link-top-ordering"><span>{{ recomendation_go_to }} <a href="{{ login }}">{{ go_to_account }}</a> {{ word_or }} <a href="{{ register }}">{{ registration_text }}</a></span><a href="{{ home }}" class="back d-none d-lg-block">{{ go_to_products_list }}</a></p>
        <form class="ordering-form" onsubmit="return false;" id="form-order">
        <!-- <form class="ordering-form" method="post" id="form-order" action="index.php?route=checkout/customorder"> -->
          <div class="block-wrapper-ordering">
            <div class="info-customer"><span class="title">{{ customer_text }}</span>
              <div class="form-personal-info">
                <div class="form-group">
                  <input class="form-control" name="firstname" value="{{ firstname }}" placeholder="{{ your_firstname }}*">
                </div>
                <div class="form-group">
                  <input class="form-control" name="lastname" value="{{ lastname }}" placeholder="{{ your_lastname }}*">
                </div>
                <div class="form-group">
                  <input class="form-control" name="telephone" value="{{ telephone }}" placeholder="{{ telephone_placeholder }}*">
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control"  value="{{ email }}" placeholder="{{ email_placeholder }}*">
                </div>
                <div class="form-group">
                  <textarea rows="2" class="form-control" placeholder="{{ comment_placeholder }}" name="comment"></textarea>
                </div>
              </div>
            </div>
            <div>
              <p class="link-top-ordering mb-4 d-block d-lg-none"><a href="{{ home }}" class="back">{{ go_to_products_list }}</a></p>
              <div class="title-border-top"><span class="title">{{ require_text }}</span> <span class="small-title">{{ products_in_cart }}:  {{ total_products }}</span></div>
              <ul class="list-card-product">
                <li class="item-card-product item-card-product-grid">
                  <span class="block-title-product">{{ your_order }}</span>
                  <span class="price">{{ price_text }}</span>
                  <span class="block-add-product">{{ count_text }}</span></li>
                  {% for product in products %}
                <li class="item-card-product item-card-product-grid">
                  <div class="block-title-product"><span class="title-product fw-500">
                    <a href="{{ product.href }}">{{ product.name }}</a></span> <span class="article">Артікул: {{ product.sku }}</span></div>
                  <a href="#" class="block-img"><img src="{{ product.thumb }}" alt="{{ product.name }}" class="img"></a>
                  <div class="label-product sale">
                    {% if product.procent != false %}
                    <span class="icon-percent">-{{ product.procent }}%</span>
                    {% endif %}
                  </div>
                  <div class="price">
                    <span class="price-product fw-700" id="span_total{{ product.product_id }}">{{ product.total }}</span>
                    <span class="quantity-price">
                      <span class="quantity" id="span-quantity{{ product.product_id }}">{{ product.quantity }}</span>X <span class="item-price">{{ product.price }}</span></span>
                  </div>
                  <div class="block-add-product">
                    <div class="add-product" data-key="{{ product.cart_id }}">
                      <span class="minus"
                        data-prdctid="{{ product.product_id }}"
                        data-unit_price="{{ product.unit_price }}"
                        data-discount="{{ product.discount }}"
                        data-special="{{ product.special }}">-</span>
                        <input name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" id="quantity-{{ product.product_id }}"><span class="plus"
                                        data-prdctid="{{ product.product_id }}"
                                        data-unit_price="{{ product.unit_price }}"
                                        data-discount="{{ product.discount }}"
                                        data-special="{{ product.special }}">+</span>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="block-wrapper-ordering-bottom">
            <div id="button-shipping-method"><span class="title">{{ data_shipping }}</span> <span class="small-title mb-3">Виберіть спосіб доставки:</span>

            {% if shipping_methods %}
            <p>{{ text_shipping_method }}</p>
            {% for shipping_method in shipping_methods %}
            {% if not shipping_method.error %}
            {% for quote in shipping_method.quote %}
            <div class="form-check custom-radios">
              <input class="form-check-input" type="radio" value="{{ quote.code }}" id="{{ quote.code }}" name="shipping_method">
              <label class="form-check-label" for="{{ quote.code }}"><span>{{ quote.title }}</span></label>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
            {% endif %}
            {% endfor %}
            {% endif %}

              <div class="delivery-address"><span class="small-title mt-4 mb-2">{{ writing_data_shipping }}:</span>
                <div class="form-personal-info">
                  <div class="form-group">
                    <input class="form-control" placeholder="{{ city_text }}*" name="city" value="{{ city }}">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="{{ address_text }}*" name="address_1" value="{{ address_1 }}">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="{{ number_post }}*" name="postcode" value="{{ postcode }}">
                  </div>
                </div>
              </div>
            </div>
            <div><span class="title">{{ data_for_pay }}</span> <span class="small-title mb-3">{{ select_method_pay }}:</span>
              {% for payment_method in payment_methods %}
              <div class="form-check custom-radios">
                {% if payment_method.code == code or not code %}
                   {% set code = payment_method.code %}
                   <input class="form-check-input" type="radio" value="{{ payment_method.code }}" id="{{ payment_method.code }}" name="payment_method">
                   {% else %}
                   <input class="form-check-input" type="radio" value="{{ payment_method.code }}" id="{{ payment_method.code }}" name="payment_method">
                   {% endif %}
                   <label class="form-check-label" for="{{ payment_method.code }}">{{ payment_method.title }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
          <button class="btn-custom-project" id="custom-order">{{ send_order }}</button>
        </form>
      </div>
    </section>
    <div id="resp-confirm"></div>


    {{ content_bottom }}
  </div>


<script type="text/javascript">
$(document).ready(function() {
  var first_pay = $('input[name=\'payment_method\']:first').val();
  $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: 'payment_method=' + first_pay + '&comment=' + $('input[name="comment"]'),
        dataType: 'json',
        success: function(json) {
          console.log(json);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
    var first_pay = $('input[name=\'shipping_method\']:first').val();
    $.ajax({
          url: 'index.php?route=checkout/shipping_method/save',
          type: 'post',
          data: 'shipping_method=' + first_pay + '&comment=' + $('input[name="comment"]'),
          dataType: 'json',
          success: function(json) {
            console.log(json);
          },
          error: function(xhr, ajaxOptions, thrownError) {
              console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
      $('input[name=\'shipping_method\']:first').prop('checked', true);
      $('input[name=\'payment_method\']:first').prop('checked', true);
});


$(document).delegate('#custom-order', 'click', function() {

 $.ajax({
        url: 'index.php?route=checkout/customorder',
        type:     "POST",
        data: $("#form-order").serialize(),
        beforeSend: function() {
          $('#custom-order').button('loading');
        },
        complete: function() {
          $('#custom-order').button('reset');
        },
        success: function(json) {
          // TO DO
          if (json['redirect']) {
              location = json['redirect'];
          } else if (json['error']) {
            for (i in json['error']) {
					var element = $('input[name="' + i.replace('_', '-') + '"]');

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
$('input[name="payment_method"]').click(function(){
  var val = $('input[name=\'payment_method\']:checked').val();
  $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: 'payment_method=' + val + '&comment=' + $('input[name="comment"]'),
        dataType: 'json',
        success: function(json) {
          console.log(json);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
$('input[name="shipping_method"]').click(function(){
  var val = $('input[name=\'shipping_method\']:checked').val();
  $.ajax({
        url: 'index.php?route=checkout/shipping_method/save',
        type: 'post',
        data: 'shipping_method=' + val + '&comment=' + $('input[name="comment"]'),
        dataType: 'json',
        success: function(json) {
          console.log(json);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

</script>
{{ footer }}
