{{ header }}
<div class="main-page">

  <nav aria-label="breadcrumb" class="container block-breadcrumb">
    <ol class="breadcrumb container">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <section class="section-admin">
    <div class="container">
      <div class="tab-top-product">
        <h1 class="title-section d-md-none">{{ text_my_account }}</h1>
        {% if errors.success_save is defined %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i>{{ success_save }} <button type="button" class="close" data-dismiss="alert">&times;</button></div>
        {% endif %}
        <div class="tab-menu">
          <ul class="nav nav-tabs" id="myTab-top" role="tablist">
            <li><span class="title-section d-none d-md-flex">{{ text_my_account }}</span></li>
            <li class="nav-item" role="presentation"><a class="nav-link active" id="personal-info-tab" data-toggle="tab" href="#personal-info" role="tab" aria-controls="personal-info" aria-selected="true">{{ user_data_text }}</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">{{ my_orders_text }}</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" id="favorite-tab" data-toggle="tab" href="#favorite" role="tab" aria-controls="favorite" aria-selected="false">{{ wishlist_text }}</a></li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent-top">
          <div class="tab-pane fade show active" id="personal-info" role="tabpanel" aria-labelledby="personal-info-tab">
            <form class="form-personal-info" method="post" action="{{ action_edit }}">
              <input type="hidden" name="id_customer" value="{{ customer.customer_id }}" >
              <span class="title-form">{{ edit_account_data }}</span>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-form-label">{{ your_name }}</label>
                {% if errors.firstname is defined %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control border-error" placeholder="{{ customer.firstname != '' ? customer.firstname : your_name }}*" name="firstname">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.firstname }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control" placeholder="{{ customer.firstname != '' ? customer.firstname : your_name }}*" name="firstname">
                </div>
                {% endif %}
              </div>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-form-label">{{ your_lastname }}</label>
                {% if errors.lastname is defined %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control border-error" placeholder="{{ customer.lastname != '' ? customer.lastname : your_lastname }}*" name="lastname">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.lastname }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control" placeholder="{{ customer.lastname != '' ? customer.lastname : your_lastname }}*" name="lastname">
                </div>
                {% endif %}
              </div>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-form-label">{{ your_telephone }}</label>
                {% if errors.telephone is defined %}
                <div class="col-sm-7 col-md-8"><span class="icon-error"></span>
                  <input class="form-control border-error" placeholder="{{ customer.telephone != '' ? customer.telephone : your_telephone }}*" name="telephone">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.telephone }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control" placeholder="{{ customer.telephone != '' ? customer.telephone : your_telephone }}*" name="telephone">
                </div>
                {% endif %}
              </div>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-form-label">E-mail</label>
                {% if errors.email is defined %}
                <div class="col-sm-7 col-md-8"><span class="icon-error"></span>
                  <input type="email" class="form-control border-error" aria-describedby="{{ your_email }}*" placeholder="{{ customer.email }}*" name="email" value="">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.email }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8"><span class="icon-error"></span>
                  <input type="email" class="form-control" aria-describedby="{{ your_email }}*" placeholder="{{ customer.email }}*" name="email" value="">
                </div>
                {% endif %}
              </div><span class="title-form">{{ address_shipping_text }}</span>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-form-label">{{ city_text }}</label>
                {% if errors.city is defined %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control border-error" placeholder="{{ customer.city != '' ? customer.city : city_text }}*" name="city">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.city }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control" placeholder="{{ customer.city != '' ? customer.city : city_text }}*" name="city">
                </div>
                {% endif %}
              </div>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-form-label">{{ text_address_1 }}</label>
                {% if errors.address_1 is defined %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control border-error" placeholder="{{ errors.address_1 != '' ? errors.address_1 : text_address_1 }}*" name="address_1">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.address_1 }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control" placeholder="{{ errors.address_1 != '' ? errors.address_1 : text_address_1 }}*" name="address_1">
                </div>
                {% endif %}
              </div>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-form-label">{{ text_postcode }}</label>
                {% if errors.postcode is defined %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control border-error" placeholder="{{ customer.postcode != '' ? customer.postcode : text_code }}*" name="postcode">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.postcode }}</span></div>
                {%  else %}
                <div class="col-sm-7 col-md-8">
                  <input class="form-control" placeholder="{{ customer.postcode != '' ? customer.postcode : text_code }}*" name="postcode">
                </div>
                {% endif %}
              </div><span class="title-form">{{ text_edit_password }}</span>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-form-label">{{ text_current_password }}</label>
                {% if errors.current_password is defined %}
                <div class="col-sm-7 col-md-8">
                  <input type="password" class="form-control border-error" placeholder="********" name="current_password">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.current_password }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8">
                  <input type="password" class="form-control" placeholder="********" name="current_password">
                </div>
                {% endif %}
              </div>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-xl-4 col-form-label">{{ text_new_password }}</label>
                {% if errors.new_password is defined %}
                <div class="col-sm-7 col-md-8 col-xl-8">
                  <input type="password" class="form-control border-error" placeholder="********" name="new_password">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.new_password }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8 col-xl-8">
                  <input type="password" class="form-control" placeholder="********" name="new_password">
                </div>
                {% endif %}
              </div>
              <div class="form-group row">
                <label class="col-sm-5 col-md-4 col-xl-4 col-form-label">{{ text_confirm }}</label>
                {% if errors.confirm is defined %}
                <div class="col-sm-7 col-md-8 col-xl-8">
                  <input type="password" class="form-control border-error" placeholder="********" name="confirm">
                </div>
                <div class="block-error col-"><span class="text-error">{{ errors.confirm }}</span></div>
                {% else %}
                <div class="col-sm-7 col-md-8 col-xl-8">
                  <input type="password" class="form-control" placeholder="********" name="confirm">
                </div>
                {% endif %}
              </div>
              <button class="btn-custom-project">{{ text_btn_send }}</button>
            </form>
          </div>
          <div class="tab-pane fade tab-admin-orders" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            {% for order in orders %}
            <div id="accordion-order-{{ order.order_id }}">
              <div class="card card-order">
                <div class="card-header" id="heading{{ order.order_id }}">
                  <div class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ order.order_id }}" aria-expanded="false" aria-controls="collapse{{ order.order_id }}">
                      <span class="block-header-order">
                        <span class="number-status-order">
                          <span class="number-order">№ {{ order.order_id }} {{ text_of }} {{ order.date_added }}</span> <span class="status-order">{{ order.status }}</span> </span><span class="total-number"><span>{{ text_total_products }} : <span class="number-order">{{ order.products|length }}</span></span>
                      </span><span class="total-sum"><span>{{ text_summ }}:<span class="sum fw-500">{{ order.total }}</span></span>
                      </span>
                      </span><span class="icon icon-arrow-down"></span></button>
                  </div>
                </div>
                <div id="collapse{{ order.order_id }}" class="collapse in" aria-labelledby="heading{{ order.order_id }}" data-parent="#accordion-order">
                  <div class="card-body">
                    <div class="content-card-body">
                      <div class="info-order"><span class="title fw-500">{{ text_head_post }}</span>
                        <ul class="list-info-order">
                          <li><span>{{ text_fullname }}</span><span>{{ order.name }}</span></li>
                          <li><span>E-mail</span><span>{{ order.email }}</span></li>
                          <li><span>{{ text_telephone }}</span><span>{{ order.telephone }}</span></li>
                          <li><span>{{ city_text }}</span><span>{{ order.city }}</span></li>
                          <li><span>{{ text_code }}</span><span>{{ order.postcode }}</span></li>
                          <li><span>{{ text_payment }}</span><span>{{ order.payment }}</span></li>
                        </ul>
                      </div>
                      <div class="order">
                        <ul class="list-card-product">
                          {% for product in order.products %}
                          <li class="item-card-product item-card-product-grid">
                            <div class="block-img"><img src="{{ product.thumb }}" alt="photo-product" class="img img-fluid"></div>
                            <div class="block-title-product"><span class="title-product">{{ product.name }}</span> <span class="article">{{ text_sku }}: {{ product.sku }}</span></div>
                            <div class="block-summa"><span class="name-line">{{ text_summ }} (грн.)</span>
                              <div class="block-sum"><span class="sum fw-500">{{ product.total }}</span> <span class="currency fw-500">грн.</span></div>
                            </div>
                            <div class="block-add-product"><span class="name-line">{{ text_quatity }} (шт)</span> <span class="number fw-500">{{ product.quantity }}</span></div>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <div class="total">
                      <div class="container block-total">
                        <div class="block-number"><span>{{ text_total_products }} : </span><span class="number">{{ order.total_products }}</span></div>
                        <div class="block-sum"><span class="">{{ text_summ }}:</span> <span class="total-sum">{{ order.total }}</span> <span></span></div>
                        <a href="{{ order.repeat }}">
                          <button class="btn-custom-project">{{ text_btn_double_order }}</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
              {{ pagination }}
            </nav>

          </div>
          <div class="tab-pane fade mt-3" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
            {% if foo is empty %}
            <div class="modal-body">
               <span class="text fw-500">{{ msg_empty_wishlist }}</span>
               <span class="text fw-500"><a href="{{ home }}" class="color-purple">{{ msg_link_continue_wishlist }}</a></span>
            </div>
          {% else %}
            <ul class="list-favorite-product">
              {% for favorite in wishlist %}
              <li class="item-product">
                <div class="wrapper-item-product">
                  <div class="wrapper-img-product">
                    <a href="{{ favorite.href }}" class="block-img"><img src="{{ favorite.thumb }}" alt="image-phone" class="img-product img-fluid"></a>
                    <div class="icon icon-like active" onclick="del_wish_from_account(this);" data-id="{{ favorite.product_id }}"></div>
                  </div>
                  <div><a href="{{ favorite.href }}" class="name-product">{{ favorite.name }}</a></div>
                  <div class="item-product-bottom-wrapper">
                    <div class="block-price"><span>{{ text_price }}</span>
                      {% if favorite.special %}
                      <div class="old-price"><span>750$</span><span>{{ favorite.price }} ₴</span></div>
                      <div class="new-price"><span>719 $</span><span>{{ favorite.special }} ₴</span></div>
                      {% else %}
                      <div class="new-price"><span>719 $</span><span>{{ favorite.price }} ₴</span></div>
                      {% endif %}
                    </div>
                    <div class="block-bottom-buy">
                      <a href="{{ favorite.href }}">
                      <button class="btn-buy-product">{{ text_btn_buy }}</button>
                    </a>
                      <a href="#" class="btn-buy-one-click"  data-product-id="{{ favorite.product_id }}">{{ text_buy_one_click }}</a></div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{ footer }}
