{{ header }}
<div id="account-register" class="container">

  <nav aria-label="breadcrumb" class="container block-breadcrumb">
    <ol class="breadcrumb container">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>

  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">
    <div id="content">
      <h1>{{ heading_title }}</h1>
      <p>{{ text_account_already }}</p>
      </div>
</div>
</div>

{{ footer }}
<script type="text/javascript">
$(document).ready(function() {
  var form_register = $('#register');
  var input = form_register.find( "input" );
    for ( var z = 0; z < input.length; z++ ) {
      var name_inpt = input[z].getAttribute('name');
      if(name_inpt == 'firstname'){
        input[z].value = {{ firstname | json_encode()}};
        var err_firstname = {{ error_firstname | json_encode() }}
        if(err_firstname != ''){
          input[z].insertAdjacentHTML("beforeBegin", '<span class="text-info-custom">' + err_firstname + '</span>');
        }
      }
      if(name_inpt == 'lastname'){
        input[z].value = {{ lastname | json_encode()}};
        var err_lastname = {{ error_lastname | json_encode() }}
        if(err_lastname != ''){
          input[z].insertAdjacentHTML("beforeBegin", '<span class="text-info-custom">' + err_lastname + '</span>');
        }
      }
      if( name_inpt == 'email'){
        input[z].value = {{ email | json_encode() }};
        var err_email = {{ error_email | json_encode() }}
        if(err_email == ''){
          err_email = {{ error_warning | json_encode() }}
        }
        if(err_email != ''){
          input[z].insertAdjacentHTML("beforeBegin", '<span class="text-info-custom">' + err_email + '</span>');
        }
      }
      if( name_inpt == 'password'){
        input[z].value = {{ password | json_encode() }};
        var err_password = {{ error_password | json_encode() }};
        if(err_password != ''){
          input[z].insertAdjacentHTML("beforeBegin", '<span class="text-info-custom">' + err_password + '</span>');
        }
      }

    }
    $('button[data-target="#Modal-login"]').click();
  });
</script>
