{{ header }}
<div id="error-not-found" class="main-page page-basket">
  <nav aria-label="breadcrumb" class="container block-breadcrumb">
    <ol class="breadcrumb container">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>
    <div id="content">{{ content_top }}
      <section class="section-cart">
        <div class="container">
      <h1 class="title-section">{{ heading_title }}</h1>
      {% if cart_empty is defined %}
      <input type="hidden" name="cart_empty" id="cart_empty" value="{{ cart_empty }}">
      {% endif %}
      <p>{{ text_error }}</p>
      <div class="modal-bottom">
         <a href="{{ continue }}">
           <button class="btn-custom-project-2">{{ continue_markets }}</button>
         </a>
      </div>
      {{ content_bottom }}
    </div>
</section>
    </div>

{{ footer }}
<script>

$(document).ready(function() {
    if ($("#cart_empty").length > 0){
      $('#btn-empty_cart').trigger('click');
    }
  });
</script>
