{{ header }}
<div class="main-page page-vacancies">
  <nav aria-label="breadcrumb" class="block-breadcrumb">
   <ol class="breadcrumb container">
     {% for breadcrumb in breadcrumbs %}
     <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
     {% endfor %}
 </ol>
</nav>

<section class="section-text container">
    <h1 class="title-section p-0">{{ heading_title }}</h1>
    <span class="title-text">Ваша мрія про новий iPhone, Mac, iPad, Apple Watch може стати реальністю вже сьогодні!</span>
    <p>
        Є ідеальне рішення — програма вигідного обміну техніки Apple Trade IN. Ви можете обміняти старий гаджет на новий з доплатою різниці у одному з магазинів мережі. Trade IN — це значна економія не лише коштів, а й вашого часу.
        Ми забезпечуємо максимальний комфорт, швидкість та беремо усі клопоти на себе. Все, що потрібно — це ви та ваш пристрій :) Розрахувати попередню суму оцінки ви можете заповнивши форму на сайті. Точну вартість прийому вашого
        пристрою — ви дізнаєтесь у магазині після проведення діагностики старого пристрою.
    </p>
</section>

<section class="section-trade">
    <div class="container">
        <div class="block-trade-in">
            <div class="block-info-device block-trade-grid">
                <span class="title">Дані про Ваш девайс</span>
                <ul class="list-btn-trade">
                    <li class="list-trade-item">
                        <div class="img-iphone-trade btn-trade" data-toggle="collapse" data-target="#collapseIphone" aria-expanded="false" aria-controls="collapseIphone"><span>iPhone</span></div>
                        <div class="collapse" id="collapseIphone">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-modal">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-12" id="iphone-12" name="model" /> <label class="form-check-label" for="iphone-12">iPhone 12 mini</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-x" id="phone-x" name="model" /> <label class="form-check-label" for="phone-x">Phone X</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11max" id="iphone-11max" name="model" /> <label class="form-check-label" for="iphone-11max">Phone 11 Pro Max</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-8plus" id="phone-8plus" name="model" /> <label class="form-check-label" for="phone-8plus">Phone 8 Plus</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11pro" id="iphone-11pro" name="model" /> <label class="form-check-label" for="iphone-11pro">Phone 11 Pro</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-8" id="phone-8" name="model" /> <label class="form-check-label" for="phone-8">Phone 8</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11" id="iphone-11" name="model" /> <label class="form-check-label" for="iphone-11">Phone 11</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-7plus" id="phone-7plus" name="model" /> <label class="form-check-label" for="phone-7plus">Phone 7 Plus</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="se-2" id="se-2" name="model" /> <label class="form-check-label" for="se-2">Phone SE 2</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-7" id="phone-7" name="model" /> <label class="form-check-label" for="phone-7">Phone 7</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="xs-max" id="xs-max" name="model" /> <label class="form-check-label" for="xs-max">Phone Xs Max</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-6s" id="phone-6s" name="model" /> <label class="form-check-label" for="phone-6s">Phone 6S</label>
                                                </li>
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="xs" id="xs" name="model" /> <label class="form-check-label" for="xs">Phone Xs</label></li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-se" id="phone-se" name="model" /> <label class="form-check-label" for="phone-se">Phone SE</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-xr" id="phone-xr" name="model" /> <label class="form-check-label" for="phone-xr">Phone Xr</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-4s" id="phone-4s" name="model" /> <label class="form-check-label" for="phone-4s">Phone 4S</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Об'єм пам'яті</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="gb32" id="gb32" name="memory" /> <label class="form-check-label" for="gb32">32 Gb</label></li>
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="gb64" id="gb64" name="memory" /> <label class="form-check-label" for="gb64">64 Gb</label></li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb128" id="gb128" name="memory" /> <label class="form-check-label" for="gb128">128 Gb</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-ipad-trade btn-trade" data-toggle="collapse" data-target="#collapseIpad" aria-expanded="false" aria-controls="collapseIpad"><span>iPad</span></div>
                        <div class="collapse" id="collapseIpad">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model-ipad" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель</button>
                                        <div class="dropdown-menu dropdown-menu-right rounded-0 keep-open" aria-labelledby="dropdown-sorting-model-ipad">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="ipad" id="ipad" name="model-ipad" /> <label class="form-check-label" for="ipad">iPad</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="ipad-2" id="ipad-2" name="model-ipad" /> <label class="form-check-label" for="ipad-2">iPad-2</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-memory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Об'єм пам'яті</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-memory">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb32-ipad" id="gb32-ipad" name="memory-ipad" /> <label class="form-check-label" for="gb32-ipad">32 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb64-ipad" id="gb64-ipad" name="memory-ipad" /> <label class="form-check-label" for="gb64-ipad">64 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb128-ipad" id="gb128-ipad" name="memory-ipad" /> <label class="form-check-label" for="gb128-ipad">128 Gb</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-internet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wi-Fi / LTE</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-internet">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="wifi" id="wifi" name="internet" /> <label class="form-check-label" for="wifi">WI-FI</label>
                                                </li>
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="LTE" id="LTE" name="internet" /> <label class="form-check-label" for="LTE">LTE</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-imac-trade btn-trade" data-toggle="collapse" data-target="#collapseMacbook" aria-expanded="false" aria-controls="collapseMacbook"><span>MacBook</span></div>
                        <div class="collapse" id="collapseMacbook">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model-macbook" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-model-macbook">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="ipad" id="macbook" name="model-macbook" /> <label class="form-check-label" for="macbook">macbook</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="macbook-2" id="macbook-2" name="model-macbook" /> <label class="form-check-label" for="macbook-2">macbook-2</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рік випуску</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-year">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="2020" id="2020" name="year" /> <label class="form-check-label" for="2020">2020</label></li>
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="2021" id="2021" name="year" /> <label class="form-check-label" for="2021">2021</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-memory-macbook" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Об'єм пам'яті</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-memory-macbook">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb64-macbook" id="gb64-macbook" name="memory-macbook" /> <label class="form-check-label" for="gb64-macbook">64 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb128-ipad" id="gb128-macbook" name="memory-macbook" /> <label class="form-check-label" for="gb128-macbook">128 Gb</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="list-btn-trade">
                    <li class="list-trade-item">
                        <div class="img-iwatch-trade btn-trade" data-toggle="collapse" data-target="#collapseWatch" aria-expanded="false" aria-controls="collapseWatch"><span>Apple Watch</span></div>
                        <div class="collapse" id="collapseWatch">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item mobile-right">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model-watch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Серія годинника</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-model-watch">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="watch" id="watch" name="model-watch" /> <label class="form-check-label" for="watch">watch</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="watch-2" id="watch-2" name="model-watch" /> <label class="form-check-label" for="watch-2">watch-2</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-other-trade btn-trade" data-toggle="collapse" data-target="#collapseOther" aria-expanded="false" aria-controls="collapseOther"><span>Інше</span></div>
                        <div class="collapse" id="collapseOther">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item mobile-right">
                                    <div class="dropdown block-selector"><textarea class="form-control" placeholder="Введіть назву  та опис вашого девайсу"></textarea></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p class="text-result">Вартість iPhone 12 mini (128GB) складає до 840 $</p>
            </div>
            <div class="block-device-buy block-trade-grid">
                <span class="title">Який девайс хотіли би купити?</span>
                <ul class="list-btn-trade">
                    <li class="list-trade-item">
                        <div class="img-iphone-trade btn-trade new" data-toggle="collapse" data-target="#collapseIphoneBuy" aria-expanded="false" aria-controls="collapseIphoneBuy"><span>iPhone</span></div>
                        <div class="collapse" id="collapseIphoneBuy">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-modal">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-12" id="iphone-12-buy" name="model-buy" /> <label class="form-check-label" for="iphone-12-buy">iPhone 12 mini</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-x" id="phone-x-buy" name="model-buy" /> <label class="form-check-label" for="phone-x-buy">Phone X</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11max" id="iphone-11max-buy" name="mode-buyl" />
                                                    <label class="form-check-label" for="iphone-11max-buy">Phone 11 Pro Max</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-8plus" id="phone-8plus-buy" name="model-buy" /> <label class="form-check-label" for="phone-8plus-buy">Phone 8 Plus</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11pro" id="iphone-11pro-buy" name="model-buy" />
                                                    <label class="form-check-label" for="iphone-11pro-buy">Phone 11 Pro</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-8" id="phone-8-buy" name="model-buy" /> <label class="form-check-label" for="phone-8-buy">Phone 8</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11" id="iphone-11-buy" name="model-buy" /> <label class="form-check-label" for="iphone-11-buy">Phone 11</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-7plus" id="phone-7plus-buy" name="model-buy" /> <label class="form-check-label" for="phone-7plus-buy">Phone 7 Plus</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="se-2" id="se-2-buy" name="model-buy" /> <label class="form-check-label" for="se-2-buy">Phone SE2</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-7" id="phone-7-buy" name="model-buy" /> <label class="form-check-label" for="phone-7-buy">Phone 7</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="xs-max" id="xs-max-buy" name="model-buy" /> <label class="form-check-label" for="xs-max-buy">Phone Xs Max</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-6s" id="phone-6s-buy" name="model-buy" /> <label class="form-check-label" for="phone-6s-buy">Phone 6S</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="xs" id="xs-buy" name="model-buy" /> <label class="form-check-label" for="xs-buy">Phone Xs</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-se" id="phone-se-buy" name="model-buy" /> <label class="form-check-label" for="phone-se-buy">Phone SE</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-xr" id="phone-xr-buy" name="model-buy" /> <label class="form-check-label" for="phone-xr-buy">Phone Xr</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-4s" id="phone-4s-buy" name="model-buy" /> <label class="form-check-label" for="phone-4s-buy">Phone 4S</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Об'єм пам'яті</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb32" id="gb32-buy" name="memory-buy" /> <label class="form-check-label" for="gb32-buy">32 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb64" id="gb64-buy" name="memory-buy" /> <label class="form-check-label" for="gb64-buy">64 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb128" id="gb128-buy" name="memory-buy" /> <label class="form-check-label" for="gb128-buy">128 Gb</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-color-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Колір</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-color-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="red" id="red-buy" name="color-buy" /> <label class="form-check-label" for="red-buy">red</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="black" id="black-buy" name="color-buy" /> <label class="form-check-label" for="black-buy">black</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-ipad-trade btn-trade new" data-toggle="collapse" data-target="#collapseIpadBuy" aria-expanded="false" aria-controls="collapseIpadBuy"><span>iPad</span></div>
                        <div class="collapse" id="collapseIpadBuy">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model-ipad-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель</button>
                                        <div class="dropdown-menu dropdown-menu-right rounded-0 keep-open" aria-labelledby="dropdown-sorting-model-ipad-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="ipad" id="ipad-buy" name="model-ipad-buy" /> <label class="form-check-label" for="ipad-buy">iPad</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="ipad-2" id="ipad-2-buy" name="model-ipad-buy" /> <label class="form-check-label" for="ipad-2-buy">iPad-2</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-memory-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Об'єм пам'яті</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-memory-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb32-ipad-buy" id="gb32-ipad-buy" name="memory-ipad-buy" /> <label class="form-check-label" for="gb32-ipad-buy">32 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb64-ipad-buy" id="gb64-ipad-buy" name="memory-ipad-buy" /> <label class="form-check-label" for="gb64-ipad-buy">64 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb128-ipad-buy" id="gb128-ipad-buy" name="memory-ipad-buy" />
                                                    <label class="form-check-label" for="gb128-ipad-buy">128 Gb</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="sorting-color-ipad-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Колір</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="sorting-color-ipad-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="red" id="red-ipad-buy" name="color-buy" /> <label class="form-check-label" for="red-ipad-buy">red</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="black" id="black-ipad-buy" name="color-buy" /> <label class="form-check-label" for="black-ipad-buy">black</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-imac-trade btn-trade new" data-toggle="collapse" data-target="#collapseMacbookBuy" aria-expanded="false" aria-controls="collapseMacbookBuy"><span>MacBook</span></div>
                        <div class="collapse" id="collapseMacbookBuy">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model-macbook-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-model-macbook-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="macbook-buy" id="macbook-buy" name="model-macbook-buy" /> <label class="form-check-label" for="macbook-buy">macbook</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="macbook-2-buy" id="macbook-2-buy" name="model-macbook-buy" />
                                                    <label class="form-check-label" for="macbook-2-buy">macbook-2</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-year-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рік випуску</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-year">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="2020-buy" id="2020-buy" name="year-buy" /> <label class="form-check-label" for="2020-buy">2020</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="2021-buy" id="2021-buy" name="year-buy" /> <label class="form-check-label" for="2021-buy">2021</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-memory-macbook-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Об'єм пам'яті
                                        </button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-memory-macbook-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb64-macbook-buy" id="gb64-macbook-buy" name="memory-macbook-buy" />
                                                    <label class="form-check-label" for="gb64-macbook-buy">64 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb128-macbook-buy" id="gb128-macbook-buy" name="memory-macbook-buy" />
                                                    <label class="form-check-label" for="gb128-macbook-buy">128 Gb</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-diagonal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Діагональ</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-diagonal">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="" id="15" name="year-buy" /> <label class="form-check-label" for="15">15</label></li>
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="" id="14" name="14" /> <label class="form-check-label" for="14">14</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="sorting-color-macbook-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Колір</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="sorting-color-macbook-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="red" id="red-macbook-buy" name="color-buy" /> <label class="form-check-label" for="red-macbook-buy">red</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="black" id="black-macbook-buy" name="color-buy" /> <label class="form-check-label" for="black-macbook-buy">black</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-iwatch-trade btn-trade new" data-toggle="collapse" data-target="#collapseWatchBuy" aria-expanded="false" aria-controls="collapseWatchBuy"><span>Apple Watch</span></div>
                        <div class="collapse" id="collapseWatchBuy">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item mobile-right">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model-watch-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Серія годинника
                                        </button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-model-watch-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="watch-buy" id="watch-buy" name="model-watch-buy" /> <label class="form-check-label" for="watch-buy">watch</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="watch-2-buy" id="watch-2-buy" name="model-watch-buy" /> <label class="form-check-label" for="watch-2-buy">watch-2</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item mobile-right">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-watch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Розмір</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-watch">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="" id="watch-11" name="" /> <label class="form-check-label" for="watch-11"></label></li>
                                                <li class="form-check custom-radios"><input class="form-check-input" type="radio" value="watch-2" id="watch-22" name="" /> <label class="form-check-label" for="watch-22"></label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item mobile-right">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-color-watch-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Колір</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-color-watch-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="watch-buy" id="red-color" name="model-watch-color" /> <label class="form-check-label" for="red-color">red</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="watch-buy" id="black-color" name="model-watch-color" /> <label class="form-check-label" for="black-color">black</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="list-btn-trade">
                    <li class="list-trade-item">
                        <div class="img-iphone-use-trade btn-trade new" data-toggle="collapse" data-target="#collapseIphoneOldBuy" aria-expanded="false" aria-controls="collapseIphoneOldBuy"><span>б/у iPhone</span></div>
                        <div class="collapse" id="collapseIphoneOldBuy">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item mobile-right-md">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-model-old-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-modal-old-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-12" id="iphone-12-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="iphone-12-old-buy">iPhone 12 mini</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-x-old-buy" id="phone-x-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-x-old-buy">Phone X</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11max-old-buy" id="iphone-11max-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="iphone-11max-old-buy">Phone 11 Pro Max</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-8plus-old-buy" id="phone-8plus-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-8plus-old-buy">Phone 8 Plus</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11pro-old-buy" id="iphone-11pro-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="iphone-11pro-old-buy">Phone 11 Pro</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-8-old-buy" id="phone-8-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-8-old-buy">Phone 8</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="iphone-11-old-buy" id="iphone-11-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="iphone-11-old-buy">Phone 11</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-7plus-old-buy" id="phone-7plus-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-7plus-old-buy">Phone 7 Plus</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="se-2-old-buy" id="se-2-old-buy" name="model-old-buy" /> <label class="form-check-label" for="se-2-old-buy">Phone SE 2</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-7-old-buy" id="phone-7-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-7-old-buy">Phone 7</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="xs-max-old-buy" id="xs-max-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="xs-max-old-buy">Phone Xs Max</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-6s-old-buy" id="phone-6s-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-6s-old-buy">Phone 6S</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="xs-old-buy" id="xs-old-buy" name="model-old-buy" /> <label class="form-check-label" for="xs-old-buy">Phone Xs</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-se-old-buy" id="phone-se-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-se-old-buy">Phone SE</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-xr-old-buy" id="phone-xr-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-xr-old-buy">Phone Xr</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="phone-4s-old-buy" id="phone-4s-old-buy" name="model-old-buy" />
                                                    <label class="form-check-label" for="phone-4s-old-buy">Phone 4S</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item mobile-right-md">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-old-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Об'єм пам'яті</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-old-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb32-old-buy" id="gb32-old-buy" name="memory-old-buy" /> <label class="form-check-label" for="gb32-old-buy">32 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb64-old-buy" id="gb64-old-buy" name="memory-old-buy" /> <label class="form-check-label" for="gb64-old-buy">64 Gb</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gb128-old-buy" id="gb128-old-buy" name="memory-old-buy" /> <label class="form-check-label" for="gb128-old-buy">128 Gb</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item mobile-right-md">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-color-old-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Колір</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-color-old-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="red-color-old-buy" id="color-red-old-buy" name="color-old-buy" />
                                                    <label class="form-check-label" for="color-red-old-buy">червоний</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="black-color-old-buy" id="color-black-old-buy" name="color-old-buy" />
                                                    <label class="form-check-label" for="color-black-old-buy">чорний</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-wrapper-item mobile-right-md">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-sorting-oldtatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Стан</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-sorting-oldtatus">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios"></li>
                                                <li class="form-check custom-radios"></li>
                                                <li class="form-check custom-radios"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-gadgets-trade btn-trade new" data-toggle="collapse" data-target="#collapseGadgetBuy" aria-expanded="false" aria-controls="collapseGadgetBuy"><span>Гаджети</span></div>
                        <div class="collapse" id="collapseGadgetBuy">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item mobile-right-md">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-gadget-model-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-gadget-model-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gadget-model1-buy" id="gadget-model1-buy" name="gadget-model-buy" />
                                                    <label class="form-check-label" for="gadget-model1-buy">Модель1</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gadget-model2-buy" id="gadget-model2-buy" name="gadget-model-buy" />
                                                    <label class="form-check-label" for="gadget-model2-buy">Модель2</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="gadget-model3-buy" id="gadget-model3-buy" name="gadget-model-buy" />
                                                    <label class="form-check-label" for="gadget-model3-buy">Модель3</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-ipods-trade btn-trade new" data-toggle="collapse" data-target="#collapseIpodsBuy" aria-expanded="false" aria-controls="collapseIpodsBuy"><span>Air Pods</span></div>
                        <div class="collapse" id="collapseIpodsBuy">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item mobile-right-md">
                                    <div class="dropdown block-selector">
                                        <button class="btn btn-selector icon-arrow-select" type="button" id="dropdown-ipods-model-buy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модель пристрою</button>
                                        <div class="dropdown-menu rounded-0 keep-open" aria-labelledby="dropdown-ipods-modal-buy">
                                            <ul class="list-model">
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="air-pods-1" id="air-pods-1-buy" name="model-ipods-buy" /> <label class="form-check-label" for="air-pods-1-buy">Air Pods</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="air-pods-2" id="air-pods-2-buy" name="model-ipods-buy" />
                                                    <label class="form-check-label" for="air-pods-2-buy">Air Pods 2</label>
                                                </li>
                                                <li class="form-check custom-radios">
                                                    <input class="form-check-input" type="radio" value="air-pods-pro" id="air-pods-pro-buy" name="model-ipods-buy" />
                                                    <label class="form-check-label" for="air-pods-pro-buy">Air Pods Pro</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-trade-item">
                        <div class="img-other-trade btn-trade new" data-toggle="collapse" data-target="#collapseOtherBuy" aria-expanded="false" aria-controls="collapseOtherBuy"><span>Інше</span></div>
                        <div class="collapse" id="collapseOtherBuy">
                            <ul class="dropdown-wrapper">
                                <li class="dropdown-wrapper-item mobile-right-md">
                                    <div class="dropdown block-selector"><textarea class="form-control" placeholder="Введіть назву  та опис вашого девайсу"></textarea></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p class="text-result">Вартість iPhone 12 Pro Max (128GB) складає до 1 140 $</p>
            </div>
            <div class="block-images">
                <div class="wrapper-img"><img src="./images/main-images-trade.aa2e7581.webp" alt="image" class="img" /></div>
                <ul class="table-result">
                    <li class="item-table-result"><span class="name">Стара ціна</span><span>1 255$</span><span>35 115 ₴</span></li>
                    <li class="item-table-result new-price"><span class="name">Нова ціна</span><span>415 $</span><span>11 612 ₴</span></li>
                </ul>
                <p class="text-result fw-500">Вітаємо, Ваша економія складає 23 503 грн</p>
            </div>
        </div>
    </div>
</section>

<section class="section-text container">
    <span class="title-text">Обмін — це вигідно, безпечно і зручно!</span>
    <p>
        Після щорічної презентації компанії Apple вас не покидає думка, що терміново потрібно оновити свій арсенал яблучних гаджетів? Ваш iPhone, iPad, MacBook, Apple Watch значно застаріли і вже не підтримують останні оновлення
        системи й топові додатки? І в той самий момент у вас немає часу займатися продажем старого девайса? Команда пропонує швидкий і зручний спосіб — програму обміну техніки Apple Trade IN. — Це безпечно. Забудьте про продаж або
        купівлю гаджетів з рук незнайомця в холодний осінній вечір :) Затишний магазин-салон, професійний і дружний колектив консультантів — процес обміну буде на всі 100% безпечним і вигідним. — Це швидко. Залежно від моделі процес
        оцінки та діагностики займе від однієї до трьох годин. За цей час ми почастуємо вас кавою і допоможемо підібрати новий пристрій і оригінальні аксесуари для нього. — Це вигідно. Оцінка пристроїв завжди актуальна для Вас.
        Економія становить до 80% від вартості нового пристрою. Це вигідніше не тільки в сенсі вартості, але і значно економить ваш час і зусилля. Якщо ще залишилися сумніви — не варто сумніватися. Trade IN — це дійсно вигідно, адже
        це значна економія. Круто, чи не так?
    </p>
</section>

<section class="section-anketa trade">
    <div class="container">
        <span class="title-section">Залиште дані і ми звяжемось з Вами</span>
        <form id="trade-in-contact-form" class="form-anketa row" method="post">
            <div class="mb-3 col-md-6">
                <label for="nameInput1" class="form-label">Ваше ім'я</label>
                <input name="name" class="form-control" id="nameInput1" placeholder="Ваше ім'я" />
            </div>
            <div class="mb-3 col-md-6">
                <label for="mailInput1" class="form-label">Ваш E-mail:</label>
                <input name="email" class="form-control" id="mailInput1" placeholder="E-mail" />
            </div>
            <div class="mb-3 col-md-12">
                <label for="Textarea1" class="form-label">Ваш коментар</label>
                <textarea name="message" class="form-control" id="Textarea1" rows="4" placeholder="Ваш коментар"></textarea>
            </div>
            <button class="btn btn-custom-project">Відправити</button>
        </form>
    </div>
</section>

<section class="section-text container">
    <span class="title-text">Як проходить обмін?</span>
    <ul>
        <li>— За допомогою конструктора вкажіть модель, колір і обсяг пам'яті вашого старого пристрою.</li>
        <li>— Також виберіть модель на яку хочете обміняти та не забудьте вказати додаткові параметри для максимально точного розрахунку оцінки й доплати.</li>
        <li>— У кілька кліків оформте заявку на обмін і чекайте дзвінка від менеджера.</li>
        <li>— Приходьте в зручний для вас магазин Ябко для проведення оцінки. Дізнайтеся точну різницю між вартістю старого пристрою і бажаної моделі.</li>
        <li>
            — Проведіть обмін Trade IN — весь процес займе менш як 30 хвилин. Швидко і зручно. Немає ніяких обмежень по асортименту або кількості пристроїв від компанії Apple, які підлягають обмін одночасно: iPhone й iPad, MacBook і
            iMac, Apple Watch або Apple TV, приймаємо всі :)
        </li>
    </ul>
    <p>
        Крім того, в рамках нашої програми обміну, ви можете принести гаджет в будь-якому стані та комплектації. Приймаємо на оцінку пристрою навіть з помітними візуальними або апаратними ушкодженнями. Якщо у пристрої, наприклад,
        розбитий екран — ми просто враховуємо це при загальній оцінці. І навіть якщо пристрій в неробочому стані — можемо прийняти його на запчастини за символічну ціну. Програма вигідного обміну техніки Apple Trade IN доступна в
        кожному з магазинів в будь-якому куточку України.
    </p>
    <div id="accordion-1">
        <div class="card card-order">
            <div class="card-header" id="headingOne">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <span class="block-header-order">Які пристрої приймаються на обмін? </span><span class="icon icon-arrow-down"></span>
                </button>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">
                <p class="card-body">На обмін ми приймаємо будь-який пристрій Apple ; iPhone, iPad, MacBook, iMac та Apple Watch. Девайс може бути будь-якого року та моделі.</p>
            </div>
        </div>
    </div>
    <div id="accordion-2">
        <div class="card card-order">
            <div class="card-header" id="heading-2">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                    <span class="block-header-order">Чи можливий обмін розбитого або неробочого девайсу? </span><span class="icon icon-arrow-down"></span>
                </button>
            </div>
            <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-2"><p class="card-body"></p></div>
        </div>
    </div>
    <div id="accordion-3">
        <div class="card card-order">
            <div class="card-header" id="heading-3">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                    <span class="block-header-order">На які пристрої можна обміняти свій старий девайс? </span><span class="icon icon-arrow-down"></span>
                </button>
            </div>
            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-3"><p class="card-body"></p></div>
        </div>
    </div>
    <div id="accordion-4">
        <div class="card card-order">
            <div class="card-header" id="heading-4">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                    <span class="block-header-order">Скільки часу триває обмін гаджетів? </span><span class="icon icon-arrow-down"></span>
                </button>
            </div>
            <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-4"><p class="card-body"></p></div>
        </div>
    </div>
    <div id="accordion-5">
        <div class="card card-order">
            <div class="card-header" id="heading-5">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                    <span class="block-header-order">Як визначити точну суму прийому пристроїв? </span><span class="icon icon-arrow-down"></span>
                </button>
            </div>
            <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-5"><p class="card-body"></p></div>
        </div>
    </div>
</section>

</div>

<script>
    $(document).ready(function(){
        $('#trade-in-contact-form').on('submit', function(e){
            e.preventDefault();

            alert('отправка формы');
        });

});
</script>

{{ footer }}
