
   <header class="header">
      <div class="collapse menu-mobile d-lg-none" id="menu-mobile-collapse">
         <div class="menu-mobile-header-wrapper">
            <div class="menu-mobile-header">
               <div class="gap"></div>
               <a class="navbar-brand" href="{{ home }}"><img src="/catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></a>
               <div class="main-toggler" data-toggle="collapse" data-target="#menu-mobile-collapse" aria-controls="menu-mobile-collapse" aria-expanded="false"><i class="icon icon-quit"></i></div>
            </div>
         </div>
         <ul class="main-nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#"><i class="icon icon-user-black"></i> <span data-toggle="modal" data-target="#Modal-login">{{ text_login }} / {{ text_registration }}</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="icon icon-like-black"></i> <span>{{ picking }}</span></a></li>
            <li class="nav-item menu-hover"><a class="nav-link parent-submenu" href="#" data-toggle="collapse" data-target="#all-mobile-accordion" aria-controls="all-mobile-accordion" aria-expanded="false"><i class="icon icon-menu"></i> <span>{{ btn_all_products }}</span></a></li>
         </ul>
         <ul class="main-nav">
            <li class="nav-item"><a class="nav-link fw-500" href="#"><span>Trade-in</span></a></li>
            <li class="nav-item"><a class="nav-link fw-500" href="{{ repairs_href }}"><span>{{ repairs }}</span></a></li>
            <li class="nav-item"><a class="nav-link fw-500" href="{{ blog_href }}"><span>{{ text_blog }}</span></a></li>
            <li class="nav-item"><a class="nav-link fw-500" href="{{ vacancies_href }}"><span>{{ text_vacansion }}</span></a></li>
            <li class="nav-item"><a class="nav-link fw-500" href="{{ feedback_href }}"><span>{{ text_review }}</span></a></li>
            <li class="nav-item"><a class="nav-link fw-500" href="{{ contact }}"><span>{{ btn_contact }}</span></a></li>
         </ul>
         <ul class="main-nav navbar-nav">
            <li class="nav-item menu-hover"><a class="nav-link" href="tel:+38{{ tel_link }}"><i class="icon icon-phone-purple"></i> <span>{{ telephone }}</span></a></li>
            <li class="nav-item mt-2"><a class="nav-link fw-400" href="#"><i class="icon icon-clockwise"></i> <span>{{ open }}</span></a></li>
            <li class="nav-item mb-2"><a class="nav-link fw-400" href="https://www.instagram.com/apple_joy_kyiv"><i class="icon instagram-purple"></i> <span>apple_joy_kyiv</span></a></li>
            {{ mobil_lang }}
         </ul>
      </div>
      <!--####level 1####-->
      <div class="collapse menu-mobile d-lg-none" id="all-mobile-accordion">
         <div class="menu-mobile-header-wrapper">
            <div class="menu-mobile-header">
               <a class="navbar-brand" href="{{ home }}"><img src="/catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></a>
               <div class="main-toggler" data-toggle="collapse" data-target="#all-mobile-accordion" aria-controls="all-mobile-accordion" aria-expanded="false"><span>Назад</span></div>
            </div>
         </div>
         <ul class="accordion" id="main-menu-categories">
           {% for id_cat_0, category_0 in categories_tree %}
           {% if category_0.childs is defined %}
            <li class="nav-item"><a href="#" class="nav-link" id="heading-{{ id_cat_0 }}-category" data-toggle="collapse" data-target="#category-{{ id_cat_0 }}" aria-expanded="false" aria-controls="category-{{ id_cat_0 }}"><span>{{ category_0.name }}</span></a></li>
            {% else %}
            <li class="nav-item"><a href="{{ category_0.href }}" class="nav-link"><span>{{ category_0.name }}</span></a></li>
            {% endif %}

            {% endfor %}
         </ul>
      </div>
      <!--####level 2####-->

      {% for id_cat_1, category_1 in categories_tree %}
      {% if category_1.childs is defined %}

      <div id="category-{{ id_cat_1 }}" class="collapse menu-mobile d-lg-none" data-parent="#main-menu-categories">
         <div class="menu-mobile-header-wrapper">
            <div class="menu-mobile-header">
               <a class="navbar-brand" href="{{ home }}"><img src="/catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></a>
               <div class="main-toggler" data-toggle="collapse" data-target="#category-{{ id_cat_1 }}" aria-controls="category-{{ id_cat_1 }}" aria-expanded="false"><span>Назад</span></div>
            </div>
         </div>

         <ul id="groups-{{ id_cat_1 }}">
           {% for id_child_1, child_1 in category_1.childs %}
           {% if child_1.childs is defined %}
            <li class="nav-item"><a class="nav-link" href="#" data-toggle="collapse" data-target="#types-{{ id_cat_1 }}-{{ id_child_1 }}" aria-expanded="false" aria-controls="types-{{ id_cat_1 }}-{{ id_child_1 }}"><span>{{ child_1.name }}</span></a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ child_1.href }}">{{ child_1.name }}</a></li>
            {% endif %}

            {% endfor %}
         </ul>

      </div>

      {% endif %}

      {% endfor %}

      <!--####level 3####-->
      {% for id_cat_3, cat_3 in categories_tree %}
      {% if cat_3.childs is defined %}
      {% for id_child_3, child_3 in cat_3.childs %}
      {% if child_3.childs is defined %}
      <div id="types-{{ id_cat_3 }}-{{ id_child_3 }}" class="collapse menu-mobile d-lg-none" data-parent="#groups-{{ id_cat_3 }}">
         <div class="menu-mobile-header-wrapper">
            <div class="menu-mobile-header">
               <a class="navbar-brand" href="{{ home }}"><img src="/catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></a>
               <div class="main-toggler" data-toggle="collapse" data-target="#types-{{ id_cat_3 }}" aria-controls="types-{{ id_cat_3 }}" aria-expanded="false"><span>Назад</span></div>
            </div>
         </div>
         <ul class="accordion">
           {% for id_grandson_3, grandson_3 in child_3.childs %}
            <li class="nav-item"><a href="{{ grandson_3.href }}" class="nav-link">{{ grandson_3.name }}</a></li>
            {% endfor %}

         </ul>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}


      <div class="container">
         <nav class="navbar navbar-expand-lg">
            <div class="item-block-function toggler">
               <div class="navbar-toggler" data-toggle="collapse" data-target="#menu-mobile-collapse" aria-controls="menu-mobile-collapse" aria-expanded="false"><i class="icon icon-menu"></i></div>
            </div>

            {{ search_home }}
            
            <a class="navbar-brand" href="{{ home }}"><img src="/catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></a>
            <div class="menu-phone-block d-lg-none dropdown-main-item">
               <div class="item-block-function" data-toggle="collapse" data-target="#phone-collapse" aria-expanded="false" aria-controls="search-collapse"><span class="icon icon-phone-inactive"></span></div>
               <div class="collapse popup-collapse" id="phone-collapse">
                  <div class="container">
                     <a href="tel:+38{{ tel_link }}" class="phone-link m-auto"><i class="icon icon-phone-inactive"></i><span></span>(095) 050 02 02</a>
                     <div class="popup-collapse-close" data-toggle="collapse" data-target="#phone-collapse" aria-expanded="false" aria-controls="search-collapse"><i class="icon icon-quit"></i></div>
                  </div>
               </div>
            </div>
            <div class="d-none d-lg-flex item-block-function likes"><span class="icon icon-like active" onclick="show_wishlist()" id="like-btn"></span></div>
            <div class="item-block-function basket">
               <a href="{{ shopping_cart }}"><span class="icon icon-shopping-cart"></span></a>
               <div class="items-amount" id="cart_quantity">{{ text_items_quantity }}</div>
            </div>
            <ul class="d-none d-lg-flex menu-info navbar-nav">
               <li class="nav-item"><a class="nav-link" href="{{ trade_in_href }}">{{ text_trade_in }}</a></li>
               <li class="nav-item"><a class="nav-link" href="{{ repairs_href }}">{{ repairs }}</a></li>
               <li class="nav-item"><a class="nav-link" href="{{ blog_href }}">{{ text_blog }}</a></li>
               <li class="nav-item"><a class="nav-link" href="{{ vacancies_href }}">{{ text_vacansion }}</a></li>
               <li class="nav-item"><a class="nav-link" href="{{ feedback_href }}">{{ text_review }}</a></li>
               <li class="nav-item"><a class="nav-link" href="{{ contact }}">{{ btn_contact }}</a></li>
            </ul>
            <ul class="d-none d-lg-flex menu-contact">
               <li class="icon icon-clockwise">{{ open }}</li>
               <li class="icon icon-phone"><a href="tel:{{ telephone }}">{{ telephone }}</a></li>
               {% if logged %}
               <li class="dropdown"><a class="dropdown-item lang icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-user"></span></a>
                 <div class="dropdown-menu">
                   <ul>
                     <li><a class="dropdown-item" href="{{ href_account }}">{{ text_account }}</a></li>
                     <li><a class="dropdown-item" href="{{ href_logout }}">{{ text_logout }}</a></li>
                   </ul>
                 </div>
               </li>
               {% else %}
               <li class="icon icon-user" data-toggle="modal" data-target="#Modal-login"></li>
               {% endif  %}
               <li class="icon icon-instagram-header" onclick="window.open('https://www.instagram.com/apple_joy_kyiv', '_blank');"></li>
               {{ language }}
            </ul>
            <ul class="d-none d-lg-flex navbar-nav menu-production">
               <li class="nav-item dropdown root-dropdown with-subdropdown">
                  <a class="nav-link nav-link-toggle purple" href="#" id="all-products" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon icon-menu"></i> <span>{{ btn_all_products }}</span></a>
                  <ul class="dropdown-menu wrap" aria-labelledby="all-products">

                     {% for id_parent, category in categories_tree %}
                     <li>
                       {% if category.childs is defined %}
                        <a class="dropdown-item nav-link-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ category.name }}</a>
                        <div class="dropdown-menu wrap">
                           <ul>
                             {% for id_child, child in category.childs %}
                              <li>
                                {% if child.childs is defined %}
                                 <a class="dropdown-item nav-link-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ child.name }}</a>
                                 <div class="dropdown-menu wrap">
                                    <ul>
                                      {% for id_grandson, grandson in child.childs %}
                                       <li><a href="{{ grandson.href }}" class="dropdown-item">{{ grandson.name }}</a></li>
                                       {% endfor %}
                                    </ul>
                                 </div>
                                 {% else %}

                                 <a class="dropdown-item" href="{{ child.href }}">{{ child.name }}</a>

                                 {% endif %}
                              </li>
                              {% endfor %}

                           </ul>
                        </div>
                        {% else %}
                        <a class="dropdown-item" href="{{ category.href }}">{{ category.name }}</a>
                        {% endif %}
                     </li>
                     {% endfor %}


                  </ul>
               </li>
               {% for id_cat_desc, cat_desc in categories_tree %}
                 {% if cat_desc.childs is defined %}
               <li class="nav-item dropdown root-dropdown">
                  <a class="nav-link nav-link-toggle category-active-parent" href="{{ cat_desc.href }}" id="main_li-{{ id_cat_desc }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ cat_desc.name }}</a>
                  <div class="dropdown-menu wrap" aria-labelledby="main_li-{{ id_cat_desc }}">
                    {% if cat_desc.childs|length > 8 %}
                     <ul class="two-col-grid">
                       {% else %}
                       <ul>
                       {% endif %}
                       {% for child_desc in cat_desc.childs %}
                        <li><a class="dropdown-item" href="{{ child_desc.href }}">{{ child_desc.name }}</a></li>
                        {% endfor %}
                     </ul>
                  </div>
               </li>
               {% else %}

               <li><a class="dropdown-item" href="{{ cat_desc.href }}">{{ cat_desc.name }}</a></li>

               {% endif %}
               {% endfor %}


            </ul>
         </nav>
      </div>
   </header>
