<section class="section-product">
   <div class="container">
      <span class="title-section">Товари, які ви переглянули</span>
      <ul class="list-product">
        {% for item_viewed in products_viewed %}
         <li class="item-product">
            <div class="wrapper-item-product">
               <div class="wrapper-img-product">
                  <a href="{{ item_viewed.href }}" class="block-img"><img src="{{ item_viewed.thumb }}" alt="image-phone" class="img-product img-fluid"></a>
                  <div class="icon icon-like active"></div>
               </div>
               <div><a href="{{ item_viewed.href }}" class="name-product">{{ item_viewed.name }}</a></div>
               <div class="item-product-bottom-wrapper">
                  <div class="block-price">
                     <span>Ціна</span>
                     {% if item_viewed.special != false %}
                     <div class="old-price"><span>750$</span><span>{{ item_viewed.special }}</span></div>
                     {% endif %}
                     <div class="new-price"><span>719 $</span><span>{{ item_viewed.price }}</span></div>
                  </div>
                  <div class="block-bottom-buy"><a href="{{ item_viewed.href }}"><button class="btn-buy-product">Купити</button></a> <a href="#" class="btn-buy-one-click">Купити в 1 клік</a></div>
               </div>
            </div>
         </li>
         {% endfor %}

      </ul>
   </div>
</section>
