{{ header }}

<div class="main-page page-catalog">
            <nav aria-label="breadcrumb" class="container block-breadcrumb">
                <ol class="breadcrumb">
                  {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                  {% endfor %}
                </ol>
            </nav>
          <div class="container">
                <div class="main-catalog-top">
                    <h1 class="title-section title-section-2 pb-md-0">{{ heading_title }}</h1>
                    <div class="block-filter-product">
                        <!-- <div class="d-md-none">
                            <button class="btn btn-custom-project-2" type="button" data-toggle="collapse" data-target="#filter-collapse" aria-expanded="false" aria-controls="filter-collapse">
                                <span class="icon icon-mob-filter"></span> <span>Фільтр</span> <i class="icon icon-arrow-select"></i>
                            </button>
                        </div> -->
                        <div class="block-sort d-md-none">
                            <div class="dropdown">
                                <button class="btn ml-1 ml-lg-3 icon-arrow-select" type="button" id="dropdown-sorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ text_sort }}</button>
                                <div class="dropdown-menu rounded-0" aria-labelledby="dropdown-sorting">
                                    {% for sorts in sorts %}
                                        <a class="dropdown-item" href="{{ sorts.href }}">{{ sorts.text }}</a>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                        
                        <ul class="block-filter-product-desktop">
                            <li>{{ text_sort }}</li>
                            {% for sorts in sorts %}
                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                    {% if loop.last %}
                                        <li class="active"><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
                                    {% else %}
                                        <li class="active border-right"><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
                                    {% endif %}
                                {% else %}
                                    {% if loop.last %}
                                        <li><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
                                    {% else %}
                                        <li class="border-right"><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {%endfor%}
                        </ul>

                    </div>
                </div>
                <div class="main-catalog">
                  <div class="collapse" id="filter-collapse">
                        <div class="filter-catalog">
                          {{ column_left }}
                        </div>
                      </div>
                    <div class="wrapper-list-catalog">
                        {% if products %}
                        <ul class="list-catalog-product">
                          {% for product in products %}
                            <li class="item-product">

                     <div class="wrapper-item-product">

                        <div class="wrapper-img-product">

                           <a href="{{ product.href }}" class="block-img"><img src="{{ product.thumb }}" alt="image-phone" class="img-product img-fluid"></a>

                           {% if product.wish == 1 %}

                           <div data-id="{{ product.product_id }}" title="{{ button_wishlist }}" onclick="wishlist.add(this);" class="icon icon-like active"></div>

                           {% else %}

                           <div data-id="{{ product.product_id }}" title="{{ button_wishlist }}" onclick="wishlist.add(this);" class="icon icon-like"></div>

                           {% endif %}

                        </div>

                        <div><a href="{{ product.href }}" class="name-product">{{ product.name }}</a></div>

                        <div class="item-product-bottom-wrapper">

                           <div class="block-price">

                              <span>{{ product_price_title }}</span>

                              {% if product.special %}

                              <div class="old-price"><span>{{ product.price }}</span></div>
                              <div class="new-price"><span>{{ product.special }}</span></div>

                              {% else %}

                              <div class="new-price"><span>{{ product.price }}</span></div>

                              {% endif %}

                           </div>

                           <div class="block-bottom-buy"><a href="{{ product.href }}"><button class="btn-buy-product">{{ product_buy }}</button> </a><a href="#" class="btn-buy-one-click" data-product-id="{{ product.product_id }}">{{ product_price_by_one_click }}</a></div>

                        </div>

                     </div>

                  </li>
                          {% endfor %}
                        </ul>
                        {% endif %}

                        {{ pagination }}
                    </div>
                </div>
            </div>
</div>
{{ footer }} 

