{{ header }}



<div id="product-search" class="main-page page-catalog">



  <nav aria-label="breadcrumb" class="container block-breadcrumb">



    <ol class="breadcrumb">



      {% for breadcrumb in breadcrumbs %}

      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>

      {% endfor %}



    </ol>



  </nav>



   <div class="container">



      <div class="main-catalog-top">

        <h1 class="title-section title-section-2 pb-md-0">{{ heading_title }}5</h1>

        <div class="block-filter-product">

                        <!-- <div class="d-md-none">

                            <button class="btn btn-custom-project-2" type="button" data-toggle="collapse" data-target="#filter-collapse" aria-expanded="false" aria-controls="filter-collapse">

                                <span class="icon icon-mob-filter"></span> <span>Фільтр</span> <i class="icon icon-arrow-select"></i>

                            </button>

                        </div> -->

                        <div class="block-sort d-md-none">

                            <div class="dropdown">

                                <button class="btn ml-1 ml-lg-3 icon-arrow-select" type="button" id="dropdown-sorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ text_sort }}</button>

                                <div class="dropdown-menu rounded-0" aria-labelledby="dropdown-sorting">

                                    {% for sorts in sorts %}

                                        <a class="dropdown-item" href="{{ sorts.href }}">{{ sorts.text }}</a>

                                    {% endfor %}

                                    

                                </div>

                            </div>

                        </div>

                        

                        <ul class="block-filter-product-desktop">

                            <li>{{ text_sort }}</li>

                            {% for sorts in sorts %}

                                {% if sorts.value == '%s-%s'|format(sort, order) %}

                                    {% if loop.last %}

                                        <li class="active"><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>

                                    {% else %}

                                        <li class="active border-right"><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>

                                    {% endif %}

                                {% else %}

                                    {% if loop.last %}

                                        <li><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>

                                    {% else %}

                                        <li class="border-right"><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>

                                    {% endif %}

                                {% endif %}

                            {%endfor%}

                        </ul>



                    </div>

      </div>

      <div class="main-catalog">

        <div class="active-filter">

          {{ column_left }}

        </div>

        <div class="wrapper-list-catalog">



                      <div class="row">

            <div class="col-sm-5">

              <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />

            </div>

            <div class="col-sm-3">

          <select name="category_id" class="form-control">

            <option value="0">{{ text_category }}</option>

            {% for category_1 in categories %}

            {% if category_1.category_id == category_id %}

            <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>

            {% else %}

            <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>

            {% endif %}

            {% for category_2 in category_1.children %}

            {% if category_2.category_id == category_id %}

            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>

            {% else %}

            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>

            {% endif %}

            {% for category_3 in category_2.children %}

            {% if category_3.category_id == category_id %}

            <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>

            {% else %}

            <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>

            {% endif %}

            {% endfor %}

            {% endfor %}

            {% endfor %}

          </select>

        </div>

         <div class="col-sm-4">

          <label class="checkbox-inline">

            {% if sub_category %}

            <input type="checkbox" name="sub_category" value="1" checked="checked" />

            {% else %}

            <input type="checkbox" name="sub_category" value="1" />

            {% endif %}

            {{ text_sub_category }}</label>

        </div>

        </div>

        <div class="row">

          <div class="col-sm-4">



          </div>



          <div class="col-sm-4">

             <input style="margin: 12px 0;" type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />

          </div>



          <div class="col-sm-4">



          </div>

        </div>



                        <h2>{{ text_search }}</h2>

                        {% if products %}



                        <ul class="list-catalog-product">

                          {% for product in products %}

                            <li class="item-product">



                     <div class="wrapper-item-product">



                        <div class="wrapper-img-product">



                           <a href="{{ product.href }}" class="block-img"><img src="{{ product.thumb }}" alt="image-phone" class="img-product img-fluid"></a>



                           {% if product.wish == 1 %}



                           <div data-id="{{ product.product_id }}" title="{{ button_wishlist }}" onclick="wishlist.add(this);" class="icon icon-like active"></div>



                           {% else %}



                           <div data-id="{{ product.product_id }}" title="{{ button_wishlist }}" onclick="wishlist.add(this);" class="icon icon-like"></div>



                           {% endif %}



                        </div>



                        <div><a href="{{ product.href }}" class="name-product">{{ product.name }}</a></div>



                        <div class="item-product-bottom-wrapper">



                           <div class="block-price">



                              <span>{{ product_price_title }}</span>



                              {% if product.special %}



                              <div class="old-price"><span>{{ product.price }}</span></div>

                              <div class="new-price"><span>{{ product.special }}</span></div>



                              {% else %}



                              <div class="new-price"><span>{{ product.price }}</span></div>



                              {% endif %}



                           </div>



                           <div class="block-bottom-buy"><a href="{{ product.href }}"><button class="btn-buy-product">{{ product_buy }}</button> </a><a href="#" class="btn-buy-one-click" data-product-id="{{ product.product_id }}">{{ product_price_by_one_click }}</a></div>



                        </div>



                     </div>



                  </li>

                          {% endfor %}

                        </ul>

                         {% else %}

                        <p>{{ text_empty }}</p>

                         {% endif %}



                        {{ pagination }}

                    </div>

      </div>

      

   </div>



</div>



<script type="text/javascript"><!--

  // Change size oc filter search
  $(document).ready(function(){
    var mainCat = $('.main-catalog');
    mainCat.find('#column-left').removeClass('col-sm-3');
    mainCat.find('#column-left').addClass('col-sm-11');
  });

$('#button-search').bind('click', function() {

  url = 'index.php?route=product/search';



  var search = $('.main-catalog input[name=\'search\']').prop('value');



  if (search) {

    url += '&search=' + encodeURIComponent(search);

  }



  var category_id = $('.main-catalog select[name=\'category_id\']').prop('value');



  if (category_id > 0) {

    url += '&category_id=' + encodeURIComponent(category_id);

  }



  var sub_category = $('.main-catalog input[name=\'sub_category\']:checked').prop('value');



  if (sub_category) {

    url += '&sub_category=true';

  }



  var filter_description = $('.main-catalog input[name=\'description\']:checked').prop('value');



  if (filter_description) {

    url += '&description=true';

  }



  location = url;

});



$('.main-catalog input[name=\'search\']').bind('keydown', function(e) {

  if (e.keyCode == 13) {

    $('#button-search').trigger('click');

  }

});



$('select[name=\'category_id\']').on('change', function() {

  if (this.value == '0') {

    $('input[name=\'sub_category\']').prop('disabled', true);

  } else {

    $('input[name=\'sub_category\']').prop('disabled', false);

  }

});



$('select[name=\'category_id\']').trigger('change');

--></script>



{{ footer }}