<footer>
   <div class="container content-footer">
      <div class="block-footer-1">
         <img src="catalog/view/theme/applejoy/template/html/images/logo-footer.ff93093f.svg" alt="logo" class="logo-footer"> <span>{{ accept_payment }}</span>
         <svg class="icon icon-bank-footer">
            <use xlink:href="#icon-bank-footer"></use>
         </svg>
      </div>
      <div class="block-footer-2">
         <h3 class="title-footer">{{ text_products }}</h3>
         <ul>
           {% for cat_item in cat_tree %}

            <li><a href="{{ cat_item.href }}">{{ cat_item.name }}</a></li>

            {% endfor %}
         </ul>
      </div>
      <div class="block-footer-3">
         <h3 class="title-footer">{{ text_services }}</h3>
         <ul>
            <li><a href="#">Trade-in</a></li>
            <li><a href="{{ repairs_href }}">{{ repairs }}</a></li>
         </ul>
      </div>
      <div class="block-footer-4">
         <h3 class="title-footer">{{ text_information }}</h3>
         <ul>
            <li><a href="{{ blog_href }}">{{ text_blog }}</a></li>
            <li><a href="{{ vacansion_href }}">{{ text_vacansion }}</a></li>
            <li><a href="{{ feedback_href }}">{{ text_review }}</a></li>
            <li><a href="{{ contact }}">{{ text_contact }}</a></li>
         </ul>
      </div>
      <div class="block-footer-5">
         <h3 class="title-footer">{{ communication_and_questions }}</h3>
         <ul>
            <li class="item-phone">
               <svg class="icon icon-phone-write">
                  <use xlink:href="#icon-phone-write"></use>
               </svg>
               <a href="tel:+38{{ tel_link }}">{{ telephone }}</a>
            </li>
            <li>
               <svg class="icon icon-clockwise-write">
                  <use xlink:href="#icon-clockwise-write"></use>
               </svg>
               <span>{{ open }}</span>
            </li>
            <li>
               <svg class="icon icon-instagram-write">
                  <use xlink:href="#icon-instagram-write"></use>
               </svg>
               <a href="https://www.instagram.com/apple_joy_kyiv"><span>apple_joy_kyiv</span></a>
            </li>
         </ul>
      </div>
   </div>
</footer>


<!-- Modal -->
<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-order-done">{{ order_is_placed }}</button>
<div class="modal fade" id="Modal-order-done" tabindex="-1" role="dialog" aria-labelledby="order-done-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
         <div class="modal-body">
            <h5 class="modal-title">{{ order_is_placed }}</h5>
            <span class="text-thank fw-500">{{ thanks_for_order }}</span> <span class="text-thank">{{ text_msg_admin }}</span>
         </div>
         <div class="modal-bottom">
           <a href="{{ home }}"><button class="btn-custom-project-2 continue-buy">{{ continue_markets }}</button>
           </a>
         </div>
      </div>
   </div>
</div>

<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-empty-basket" id="btn-empty_cart">{{ empty_cart }}</button>
<div class="modal fade" id="Modal-empty-basket" tabindex="-1" role="dialog" aria-labelledby="empty-basket-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
         <div class="modal-body">
            <h5 class="modal-title">{{ shopping_cart }}</h5>
            <span class="text fw-500">{{ empty_cart }}</span> <span class="text fw-500">{{ return_to_shopping }} <a href="#" class="color-purple">Смартфони iPhone</a></span>
         </div>
         <div class="modal-bottom">
           <a href="{{ home }}">
             <button class="btn-custom-project-2">{{ continue_markets }}</button>
           </a>
           </div>
      </div>
   </div>
</div>

<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-buy-one-click">Купити в 1 клік</button>
<div class="modal fade modal-buy-one-click" id="Modal-buy-one-click" tabindex="-1" role="dialog" aria-labelledby="buy-one-click-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
         <div class="modal-body">
            <h5 class="modal-title">{{ buy_in_1_click }}</h5>
            <span class="small-title">{{ your_telephone_for_communication }}</span>
            <form id="fast-order" metod="POST">
               <input type="hidden" name="product_id">
               <label>
                  <input class="form-control" name="customer_name" placeholder="{{ your_name }}*" required>
               </label>
               <div class="error-phone">{{ label_for_input_telephone }}</div>
               <label>
                  <input name="phone" class="form-control standard-phone" placeholder="{{ your_telephone }}*" required>
               </label>
               <div class="error-checkbox">{{ confirm_consent }}</div>
               <div class="form-check custom-radios">
                 <input class="form-check-input" type="checkbox" value="" id="checken-yes">
                 <label class="form-check-label" for="checken-yes"><span><span>{{ i_agree_on }} </span>
                 <a href="#" class="link">{{ personal_data_processing }} *</a>
               </span>
             </label>
           </div>
               <button type="submit" class="btn-custom-project">{{ send_order }}</button>
            </form>
         </div>
      </div>
   </div>
</div>

<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-product-in-cart">{{ product_in_cart }}</button>
<div class="modal fade modal-product-in-cart" id="Modal-product-in-cart" tabindex="-1" role="dialog" aria-labelledby="product-in-cart-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
         <div class="modal-body">
            <span class="modal-title text-left">{{ product_add_to_cart }}</span>
            <section class="section-cart">
               <div class="block-wrapper-card">
                  <ul class="list-card-product">
                     <li class="item-card-product item-card-product-grid">
                        <div class="block-title-product"><span class="title-product fw-500"><a href="#">Apple iPhone 12 128GB Black (MGJA3) UA</a></span> <span class="article">Артікул: 01234567891011</span></div>
                        <a href="#" class="block-img"><img src="catalog/view/theme/applejoy/template/html/images/product-card.e05c1b18.webp" alt="photo-product" class="img"></a>
                        <div class="price"><span class="price-product fw-700">8555 грн.</span></div>
                        <div class="block-add-product">
                           <div class="add-product"><span class="minus">-</span><input value="1"><span class="plus">+</span></div>
                        </div>
                        <span class="icon icon-delete"></span>
                     </li>
                     <li class="item-card-product item-card-product-grid">
                        <div class="block-title-product"><span class="title-product fw-500"><a href="#">rrApple iPhone 12 128GB Black (MGJA3) UA</a></span> <span class="article">Артікул: 01234567891011</span></div>
                        <a href="#" class="block-img"><img src="catalog/view/theme/applejoy/template/html/images/product-card.e05c1b18.webp" alt="photo-product" class="img"></a>
                        <div class="price"><span class="price-product fw-700">8555 грн.</span></div>
                        <div class="block-add-product">
                           <div class="add-product"><span class="minus">-</span><input value="1"><span class="plus">+</span></div>
                        </div>
                        <span class="icon icon-delete"></span>
                     </li>
                  </ul>
                  <div class="total-block-info"><span class="gray">У кошику 1 товар </span><span class="ml-md-3">на суму 32 350 грн</span></div>
                  <div class="block-btn"><button class="btn-custom-project-2">{{ continue_markets }}</button> <button class="btn-custom-project">{{ go_to_cart }}</button></div>
               </div>
            </section>
         </div>
      </div>
   </div>
</div>

<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-mini-cart">{{ mini_cart }}</button>
<div class="modal fade modal-mini-cart" id="Modal-mini-cart" tabindex="-1" role="dialog" aria-labelledby="mini-cart-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
         <div class="modal-body">
            <section class="section-cart">
               <div class="block-wrapper-card">
                  <ul class="list-card-product">
                     <li class="item-card-product item-card-product-grid">
                        <a href="#" class="block-img"><img src="catalog/view/theme/applejoy/template/html/images/product-card.e05c1b18.webp" alt="photo-product" class="img"></a>
                        <div>
                           <div class="block-title-product"><span class="title-product fw-500"><a href="#">Apple iPhone 12 128GB Black (MGJA3) UA</a></span> <span class="article">Артікул: 01234567891011</span></div>
                           <div class="price"><span class="price-product fw-700">text 32350 грн.</span></div>
                        </div>
                        <span class="pl-3 icon icon-delete"></span>
                     </li>
                     <li class="item-card-product item-card-product-grid">
                        <a href="#" class="block-img"><img src="catalog/view/theme/applejoy/template/html/images/product-card.e05c1b18.webp" alt="photo-product" class="img"></a>
                        <div>
                           <div class="block-title-product"><span class="title-product fw-500"><a href="#">Apple iPhone 12 128GB Black (MGJA3) UA</a></span> <span class="article">Артікул: 01234567891011</span></div>
                           <div class="price"><span class="price-product fw-700">32350 грн.</span></div>
                        </div>
                        <span class="pl-3 icon icon-delete"></span>
                     </li>
                  </ul>
                  <div class="total-block-info"><span class="gray">У кошику 2 товара </span><span class="ml-md-3">на суму <span class="sum">64700 </span>грн</span></div>
                  <div class="block-btn"><a href="index.php?route=checkout/cart" class="btn btn-custom-project">{{ go_to_cart }}</a></div>
               </div>
            </section>
         </div>
      </div>
   </div>
</div>

<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-login">Login</button>
<div class="modal fade modal-personal-user" id="Modal-login" tabindex="-1" role="dialog" aria-labelledby="login-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
               <li class="nav-item" role="presentation"><a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">{{ text_registration }}</a></li>
               <li class="nav-item" role="presentation"><a class="nav-link" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">{{ text_login }}</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                  <div class="navbar-brand-modal d-none d-md-block"><img src="catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></div>
                  <span>{{ text_login_socials }}:</span>
                  <div class="group-soc">{{social_login}}</div>
                  <span class="block-info"><span class="mx-2">{{ word_or }}</span></span>
                  <form method="post" enctype="multipart/form-data" class="form-login" id="register-form">
                     <label>
                       <input type="text" name="firstname" class="form-control" placeholder="{{ your_first_name }}*">
                     </label>
                     <label>
                       <input type="text" name="lastname" class="form-control" placeholder="{{ your_name }}*">
                     </label>
                     <label>
                       <input type="email" name="email" class="form-control" placeholder="E-mail*">
                     </label>
                     <label>
                       <input type="tel" name="telephone" class="form-control" placeholder="{{ your_telephone }}*">
                     </label>
                     <label>
                       <input type="password" name="password" class="form-control" placeholder="{{ text_passwd }}*">
                     </label>
                       <label>
                         <input type="password" name="confirm" class="form-control" placeholder="{{ repeat_passwd }}">
                       </label>
                     <div class="form-check custom-radios">
                       <input class="form-check-input" type="checkbox"  name="agree" value="1" id="yes-regis">
                       <label class="form-check-label" for="yes-regis">
                         <span class="remind-password"><span><span>{{ i_agree_on }} </span>
                         <a href="#" class="link-yes">{{ personal_data_processing }} *</a>
                     </span><a href="#" class="link">{{ forgot_passwd }}</a></span></label></div>
                     <button type="submit" class="btn-custom-project main-btn">{{ go_to_registration }}</button> <span>{{ have_account }} </span><a href="#" class="link">{{ text_login }}</a>
                  </form>
               </div>
               <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
                  <div class="navbar-brand-modal d-none d-md-block"><img src="catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></div>
                  <span>{{ text_login_socials }}:</span>
                  <div class="group-soc">{{social_login}}</div>
                  <span class="block-info"><span class="mx-2">{{ word_or }}</span></span>
                  <form class="form-login" id="form-login">
                     <label><input type="email" name="email" class="form-control" placeholder="{{ your_login }}*"></label>
                     <label>
                       <input  type="password" name="password" type="password" class="form-control" placeholder="{{ text_passwd }}*">
                     </label>
                     <div class="form-check custom-radios"><input class="form-check-input" type="checkbox" value="" id="yes"> <label class="form-check-label" for="yes"><span class="remind-password"><span><span>{{ i_agree_on }} </span><a href="#" class="link-yes">{{ personal_data_processing }} *</a> </span>
                       <a href="#" class="link">{{ forgot_passwd }}</a></span></label></div>
                     <button class="btn-custom-project main-btn">{{ text_login }}</button> <span>{{ have_not_account }} </span><a href="#" class="link">{{ text_registration }}</a>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-password">{{ password_recovery }}</button>
<div class="modal fade modal-personal-user password" id="Modal-password" tabindex="-1" role="dialog" aria-labelledby="password-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
         <div class="modal-body">
            <div class="navbar-brand-modal d-none d-md-block"><img src="catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></div>
            <span class="modal-title">{{ password_recovery }}</span>
            <span>{{ enter_email }}</span>
            <form class="form-login"><label><input type="email" class="form-control" placeholder="E-mail*"></label> <button class="btn-custom-project main-btn">{{ text_send }}</button> <span>{{ have_not_account }} </span><a href="#" class="link">{{ text_registration }}</a></form>
         </div>
      </div>
   </div>
</div>

<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-new-password">{{ new_passwd }}</button>
<div class="modal fade modal-personal-user password" id="Modal-new-password" tabindex="-1" role="dialog" aria-labelledby="new-password-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
         <div class="modal-body">
            <div class="navbar-brand-modal d-none d-md-block"><img src="catalog/view/theme/applejoy/template/html/images/logo.1c7d6a74.svg" alt="logo" class="logo"></div>
            <span class="modal-title">{{ new_passwd }}</span> <span>{{ validate_new_passwd }}</span>
            <form class="form-login"><label><input type="password" class="form-control" placeholder="{{ text_passwd }}*"></label>
              <label><input type="password" class="form-control" placeholder="{{ repeat_passwd }}*"></label>
              <button class="btn-custom-project main-btn">{{ text_continue }}</button> <span>{{ have_not_account }} </span><a href="#" class="link">{{ text_registration }}</a></form>
         </div>
      </div>
   </div>
</div>

<button class="btn btn-secondary w-50 m-5 modal-button" data-toggle="modal" data-target="#Modal-product-in-vishlist">text</button>
<div class="modal fade modal-mini-cart" id="Modal-product-in-vishlist" tabindex="-1" role="dialog" aria-labelledby="Modal-product-in-vishlist-ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
         <div class="modal-body">
            <section class="section-cart">
               <div class="block-wrapper-card">
                  <ul class="list-card-product">
                     <li class="item-card-product item-card-product-grid">
                        <a href="#" class="block-img"><img src="catalog/view/theme/applejoy/template/html/images/product-card.e05c1b18.webp" alt="photo-product" class="img"></a>
                        <div>
                           <div class="block-title-product"><span class="title-product fw-500"><a href="#">Apple iPhone 12 128GB Black (MGJA3) UA</a></span> <span class="article">Артікул: 01234567891011</span></div>
                           <div class="price"><span class="price-product fw-700">text 32350 грн.</span></div>
                        </div>
                        <span class="pl-3 icon icon-delete"></span>
                     </li>
                     <li class="item-card-product item-card-product-grid">
                        <a href="#" class="block-img"><img src="catalog/view/theme/applejoy/template/html/images/product-card.e05c1b18.webp" alt="photo-product" class="img"></a>
                        <div>
                           <div class="block-title-product"><span class="title-product fw-500"><a href="#">Apple iPhone 12 128GB Black (MGJA3) UA</a></span> <span class="article">Артікул: 01234567891011</span></div>
                           <div class="price"><span class="price-product fw-700">32350 грн.</span></div>
                        </div>
                        <span class="pl-3 icon icon-delete"></span>
                     </li>
                  </ul>
                  <div class="total-block-info"><span class="gray">У кошику 2 товара </span><span class="ml-md-3">на суму <span class="sum">64700 </span>грн</span></div>
                  <div class="block-btn"><a href="index.php?route=checkout/cart" class="btn btn-custom-project">{{ go_to_cart }}</a></div>
               </div>
            </section>
         </div>
      </div>
   </div>
</div>
<!-- End Modal -->


{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/theme/applejoy/template/html/js/index.1ff9bb98.js"></script>
<script src="catalog/view/javascript/edits.js"></script>
</body>
</html>
