{{ header }}
<div id="common-success" class="container">
  <nav aria-label="breadcrumb" class="container block-breadcrumb">
    <ol class="breadcrumb container">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <section class="section-cart">
    <div class="container">
      <h1 class="title-section">{{ heading_title }}</h1>
      {{ text_message }}
      <div class="modal-bottom">
        <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
      </div>
      {{ content_bottom }}
    </div>
  </section>
</div>
<script>
$(document).ready(function() {
    $('button[data-target="#Modal-order-done"]').click();
  });
</script>
{{ footer }}
