{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">

        <div class="pull-right">
          <a href="{{ trash_url }}">
            <button type="button" data-toggle="tooltip" title="{{ title_trash }}" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </button>
          </a>
        </div>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>

        </div>
      <h1>{{ heading_blog_create_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit_post }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action_edit }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <input type="hidden" name="challenger_id" value="{{ pretendent.challenger_id }}">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ head_fullname }}:</label>
            <div class="col-sm-10">
              <p>{{ pretendent.fullname }}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ head_contact }}:</label>
            <div class="col-sm-10">
              <p>{{ pretendent.contact }}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ head_send_at }}:</label>
            <div class="col-sm-10">
              <p>{{ pretendent.send_at }}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ head_comment }}:</label>
            <div class="col-sm-10">
              <p>{{ pretendent.comment }}</p>
            </div>
          </div>

          <div class="form-group">

            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" class="form-control">
                {% if pretendent.status == "consider" %}
                  <option value="consider" selected="selected">{{ text_consider }}</option>
                  {% else %}
                  <option value="consider">{{ text_consider }}</option>
                  {% endif %}
                  {% if pretendent.status == "Draft" %}
                  <option value="answer" selected="selected">{{ text_answer }}</option>
                  {% else %}
                  <option value="answer">{{ text_answer }}</option>
                  {% endif %}
              </select>
            </div>
          </div>

           <div class="form-group">

            <label class="col-sm-2 control-label" for="input-status"></label>
            <div class="col-sm-10">
              <input type="submit" class="btn btn-info" value="{{ button_save }}" >
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
</div>
<script src="view/javascript/tags/js/bootstrap-tags.js" type="text/javascript"></script>
<link href="view/javascript/tags/css/bootstrap-tags.css" type="text/css" rel="stylesheet" media="screen" />

<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

{{ footer }}
